# Lecture 1

In [1]:
num1 = 10
num2 = 20
sum = num1 + num2
print(sum)

30

In [3]:
name = 'Anu'
name2 = 'Abhisekh'
name3 = '''I ' am anu'''
print(name)
print(name2)
print(name3)

Anu
Abhisekh
I ' am anu

In [6]:
name4 = """I ' am anushree"""
print(name4)

I ' am anushree

In [7]:
name5 = '''I am
anushree'''
print(name5)

I am
anushree

In [8]:
a = ''' Abhishek
 s Wavhal '''
a

' Abhishek\n s Wavhal '

# lecture 3; Literals

There are four type of literals
1. List
2. Tuple
3. Dictionary
4. Set

In [10]:
Dict = {'a': 11, 'b': 12}
Dict['a']

11

In [12]:
#type conversion
a = 10
b = 10.3
print(type(a))
type(b)

<class 'int'>

float

In [14]:
sum = a+b
print(type(sum))

<class 'float'>

In [17]:
# Programme to find midpoint of two numbers

num1 = 10
num2 = 20
mid_point = (num1+num2)/2
print(mid_point)

15.0

In [20]:
print(a, end = ' ', sep = ",")
print(b)

10 10.3

In [21]:
#write a python code for addition of two numbers
num1 = input('Enter first number: ')
num2 = input('enter 2nd number: ')
sum = num1 + num2
print(sum)

Enter first number:  20
enter 2nd number:  20

2020

In [23]:
num1 = input('Enter first number: ')
num2 = input('enter 2nd number: ')
sum = int(num1) + int(num2)
print(sum)

Enter first number:  20
enter 2nd number:  20

40

In [25]:
num1 = int(input('Enter first number: '))
num2 = int(input('enter 2nd number: '))
sum = num1 + num2
print('addition of two numbers: ', sum)
print('addition of', num1, 'and', num2, 'is: ', sum)

Enter first number:  20
enter 2nd number:  20

addition of two numbers:  40
addition of 20 and 20 is:  40

# Lab – 1 Operators

In [1]:
# 1.Write a Python program to take two numbers as input from the user and display their sum.

In [2]:
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
sum = a + b
print(sum)

Enter First number:  20
Enter Second number:  15

35

In [3]:
#2. Calculate and print the midpoint of two numbers entered by the user.

In [4]:
a1 = int(input("Enter First number: "))
b1 = int(input("Enter Second number: "))
mid_point = (a1+b1)/2
print(mid_point)

Enter First number:  10
Enter Second number:  16

13.0

In [5]:
#3. Write a Python program to calculate the area of a triangle using the formula: area = 0.5 * base * height.

In [6]:
base= 10
height = 5
area = 0.5*base*height
print(0.5*base*height)

25.0

In [7]:
#4. Take three numbers as input from the user and display their product.

In [8]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
product = a*b*c
print(product)

Enter first number:  10
Enter second number:  10
Enter third number:  45

4500

In [9]:
#5. Take a number as input and display its square and cube.
a = int(input("Enter first number: "))
square = a*a
cube = a*a*a
print(square)
print(cube)

Enter first number:  3

9
27

In [10]:
#6. Take two numbers as input and display their quotient and remainder.
a = int(input("Enter first num: "))
b = int(input("Enter Second num: "))
quotient = a//b
remainder = a%b
print(quotient)
print(remainder)

Enter first num:  10
Enter Second num:  5

2
0

In [11]:
# 7. Take three numbers as input and display their average.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
avg = (a+b+c)/3
print(avg)

Enter first number:  10
Enter second number:  10
Enter third number:  10

10.0

In [12]:
#8. Write a Python program to calculate the area of a rectangle using the formula: area = length * width.
l = 20
w = 15
area = l*w
print(area)

300

In [18]:
#9. Take five numbers as input representing marks obtained and total marks. 
#Display the percentage.
a = int(input("Enter first marks obtained: "))
b = int(input("Enter second marks obtained: "))
c = int(input("Enter third marks obtained: "))
d = int(input("Enter Fourth marks obtained: "))
e = int(input("Enter Fifth marks obtained: "))
total_marks = a+b+c+d+e
percentage = (a+b+c+d+e)/100*100
print(total_marks)
print(percentage)

Enter first marks obtained:  10
Enter second marks obtained:  14
Enter third marks obtained:  15
Enter Fourth marks obtained:  12
Enter Fifth marks obtained:  14

65
65.0

In [19]:
#10. Write a Python program to swap two numbers entered by the user without using a third variable.
a = int(input("Enter first number: "))
b = int(input("Enter Second number: "))
a, b = b, a
print("After Swapping")
print("First Number: ", a)
print("Second Number: ", b)

Enter first number:  12
Enter Second number:  16

After Swapping
First Number:  16
Second Number:  12

In [20]:
#Swap two number using arithmatic operators
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

a = a + b
b = a - b
a  = a - b

print(a)
print(b)

Enter First Number:  15
Enter Second Number:  12

12
15

In [22]:
#swap two numbers with using a third variable
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

c = a
a = b
b = c

print(a)
print(b)

Enter First Number:  18
Enter Second Number:  16

16
18

In [24]:
#11. Take a number as input and check whether it is even or odd.
a = int(input("Enter First Number: "))

if a % 2 == 0:
    print("The number is even")

else:
    print("The number is odd")

Enter First Number:  11

The number is odd

In [30]:
#12. Write a Python program to convert temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32.
c = float(input("Enter temp in celsius: "))

#convert
F = (c * 9/5) + 32

print("The degree in F: ", F)

Enter temp in celsius:  55

The degree in F:  131.0

In [29]:
#13. Write a Python program to convert temperature from Fahrenheit to Celsius using the formula: C = (F - 32) × 5/9.
F = float(input("Enter temp in Fahrenheit: "))

#convert
C = (F - 32) * 5/9

print("The degree in C: ", C)

Enter temp in Fahrenheit:  65

The degree in C:  18.333333333333332

In [31]:
#14. Take two numbers as input and find their greatest common divisor (GCD).
import math

a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

c = math.gcd(a, b)

print(c)

Enter First Number:  18
Enter Second Number:  12

6

In [32]:
#15. Write a Python program to calculate the simple interest using the formula: SI = (P × R × T) / 100, where P is the principal amount,
# R is the rate of interest, and T is the time in years.
P = int(input("Enter principal amount: "))
R = int(input("Enter rate of interest: "))
T = int(input("Enter Time in years: "))

SI = (P*R*T)/100

print("The Simple Interest is: ", SI)

Enter principal amount:  100
Enter rate of interest:  12
Enter Time in years:  2

The Simple Interest is:  24.0

In [33]:
#16. Write a Python program to check whether a number is positive, negative, or zero.
a = int(input("Enter a number: "))

if a > 0:
    print("The number is positive")

elif a < 0:
    print("The number is negative")

else:
    print("The number is Zero")

Enter a number:  -12

The number is negative

In [35]:
#17. Write a Python program to find the largest among three numbers entered by the user.
a = int(input("Enter First number: "))
b = int(input("Enter Second Number: "))
c = int(input("Enter Third Number: "))

if a >= b and a >=  c:
    print("This is largest number: ", a)

elif b >= a and b >=c:
    print("This is largest number: ", b)

else:
    print("The largest number is: ",c)

Enter First number:  45
Enter Second Number:  65
Enter Third Number:  75

The largest number is:  75

In [36]:
#18. Take a number as input and check whether it is a multiple of 5.
a = int(input("Enter number: "))

if a % 5 == 0:
    print("This is multiple of 5: ", a)
else:
    print("The number is not multiple of 5: ", a)

Enter number:  45

This is multiple of 5:  45

In [38]:
#19. Write a Python program to calculate the perimeter of a circle using the formula: perimeter = 2 * π * radius.
p= int(input("Enter number to calculate perimeter: "))
r = int(input("Enter radius: "))

perimeter = 2*22/7*r

print("The area of circle is: ",perimeter)

Enter number to calculate perimeter:  23
Enter radius:  15

The area of circle is:  94.28571428571428

In [41]:
#20. Write a Python program to check whether a number is divisible by both 3 and 5.
a = int(input("Enter a number: "))

if a % 3 == 0 and a % 5==0:
    print("The number is divisible by both 3 and 5: ", a)

else:
    print("The number is not divisible")

Enter a number:  33

The number is not divisible

# Arithmetic Operator Questions: 5

In [45]:
#1. Write a Python program to calculate the remainder when a number is divided by another number.
a = int(input("Enter a number: "))

if a % 5 == 0:
    print("The number is divisible")

else:
    print("The number is not divisible")

Enter a number:  25

The number is divisible

In [47]:
#2. Write a Python program to find the square and cube of a given number.
a = int(input("Enter a number: "))

sq = a*a
cube = a*a*a

print("The sq of a number is: ", sq)
print("The cube of a number is: ", cube)

Enter a number:  3

The sq of a number is:  9
The cube of a number is:  27

In [51]:
#3. Write a Python program to calculate the area of a circle using the formula πr².
import math

r = int(input("Enter a radius: "))

area_of_circle = math.pi*r**2

print(area_of_circle)

Enter a radius:  6

113.09733552923255

In [52]:
#4. Write a Python program that takes two numbers and performs all arithmetic operations (+, -, *, /, %, //, **).
import math

a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

operation_1 = a + b
operation_2 = a - b
operation_3 = a * b
operation_4 = a / b
operation_5 = a // b
operation_6 = a ** b

print("Addition of two number is: ", operation_1)
print("Substraction of two numbers is: ", operation_2)
print("Multiplication of two number is: ", operation_3)
print("Division of two number is: ", operation_4)
print("Floor division of two number is: ", operation_5)
print("Exponential of two number is: ", operation_6)

Enter First Number:  9
Enter Second Number:  4

Addition of two number is:  13
Substraction of two numbers is:  5
Multiplication of two number is:  36
Division of two number is:  2.25
Floor division of two number is:  2
Exponential of two number is:  6561

In [53]:
#5. Write a Python program to calculate the average of five numbers entered by the user.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = int(input("Enter third Number: "))
d = int(input("Enter fourth Number: "))
e = int(input("Enter Fifth Number: "))

avg = (a+b+c+d+e)/5

print("The avg of five numbers is: ", avg)

Enter First Number:  26
Enter Second Number:  12
Enter third Number:  45
Enter fourth Number:  10
Enter Fifth Number:  23

The avg of five numbers is:  23.2

# Comparison Operator Questions: 5

In [54]:
#1. Write a Python program to check if two numbers are equal or not.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a == b:
    print("a is equal to b")
else:
    print("a is not equal to b")

Enter First Number:  20
Enter Second Number:  15

a is not equal to b

In [55]:
#2. Write a Python program to find which of two numbers is greater using comparison operators.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a > b:
    print("First number is greater than second number")

elif b > a:
    print("Second number is greater then first number")
else:
    print("Both number are equal")

Enter First Number:  23
Enter Second Number:  15

First number is greater than second number

In [56]:
#3. Write a Python program to check whether a person is eligible to vote (age ≥ 18).
a = int(input("Enter First Number: "))

if a >= 18:
    print("The person is eligible for vote")
else:
    print("The person is not eligible for vote")

Enter First Number:  25

The person is eligible for vote

In [59]:
#4. Write a Python program to check if the temperature is within the range 20°C to 30°C.
temp = int(input("Enter First Number: "))

if  temp >= 20 and temp <= 30:
    print("The temp is within range 20°C to 30°C")
else:
    print("The temp is not within the range 20°C to 30°C")

Enter First Number:  56

The temp is not within the range 20°C to 30°C

In [63]:
#5 Write a Python program to compare the total sales of two products and print which one performed better.
product1 = int(input("The sale of first product is: "))
product2 = int(input("The sale of second product is: "))

if product1 > product2:
    print("Product1 performed better")
elif product2 >  product1:
    print("Product2 performed better")
else:
    print("Both product performed equal")

The sale of first product is:  45
The sale of second product is:  45

Both product performed equal

# Logical Operator Questions: 5

In [65]:
#1. Write a Python program to check if a number is divisible by both 2 and 3.
a = int(input("Enter a number"))

if a % 2 == 0 and a % 3 == 0:
    print("The number is divisible by both 2 and 3")
else:
    print("The number is not divisible by 2 and 3")

Enter a number 45

The number is not divisible by 2 and 3

In [66]:
#2. Write a Python program to check if a number lies between 100 and 200 (inclusive).
a = int(input("Enter a number"))

if a >= 100 and a <= 200:
    print("The number lies between 100 and 200")

else:
    print("The number is not lies between 100 and 200")

Enter a number 101

The number lies between 100 and 200

In [67]:
#3. Write a Python program to check if a year is a leap year (divisible by 4 and not 100, or divisible by 400).
a = int(input("Enter a number"))

if a % 4 == 0 and a % 100 != 0 or a % 400 == 0:
    print("The year is a leap year")
else:
    print("The year is not leap year")

Enter a number 365

The year is not leap year

In [68]:
#4. Write a Python program to check if a student passes an exam — pass if marks in all subjects ≥ 40.
a = int(input("Enter a number"))

if a >= 40:
    print("The student passes the exam")

else:

    print("Student fails the exam")

Enter a number 65

The student passes the exam

In [70]:
# 5. Write a Python program to verify if a given number is positive and even.
a = int(input("Enter a number"))

if a > 0 and a % 2 == 0:
    print('The number is positive and even')
elif a > 0 and a % 2 != 0:
    print("The number is positive but not even")
elif a < 0:
    print("the number is negative")

else:
    print("The number is zero")

Enter a number 6

The number is positive and even

# Identity Operator Questions

In [71]:
#1. Write a Python program to check whether two variables refer to the same object in memory using the is operator.
#Check Object Identity:
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a is b:
    print("Both variable is same")
else:
    print("Both variable is not same")

Enter First Number:  45
Enter Second Number:  23

Both variable is not same

In [72]:
# 2. Compare Lists:
#Create two lists with the same elements and use both == and is operators to show the difference between equality and identity.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a == b and a is b:
    print("Follow both operator")
else:
    print("Not follow both operator")

Enter First Number:  65
Enter Second Number:  23

Not follow both operator

In [73]:
#3. Immutable vs Mutable:
#Write a Python program to show that two variables pointing to the same integer object (immutable) are identical, 
#but two lists with the same content are not.

In [74]:
#4. Object Identity Check:
# Take two strings as input and check whether they refer to the same object using is.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a is b:
    print("a is b")
else:
    print("a is not b")

Enter First Number:  2
Enter Second Number:  6

a is not b

In [75]:
#5. Using is not:
#Write a Python program to check if two variables are not identical using the is not operator.
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

if a is not b:
    print("a is not b")
else:
    print("a is b")

Enter First Number:  5
Enter Second Number:  6

a is not b

# Membership Operator (in, not in)

In [76]:
#1. Check Membership in a List
# Write a Python program to check whether a given number exists in a list of numbers.
a = [1, 2, 3]

if 3 in a:
    print("The given number 3 is present in list")
else:
    print("The given number 3 is not presentin list")

The given number 3 is present in list

In [79]:
#Check Character in String
# Write a Python program to ask the user for a character and check if it exists in a given string (e.g., "Data Analysis").
list1 = [4, 56, 89.6, 63, 10, 5]

a = float(input("Enter First Number: "))

if a in list1:
    print("Enter number is present in list")
else:
    print("Enter number is not present in list")

Enter First Number:  89.6

Enter number is present in list

In [80]:
#3. Check Non-Membership in Tuple
#Write a Python program to verify that a specific value is not present in a tuple of numbers using the not in operator.
tup = (1, 56, 87, 2.3, 54, 8, 10)

a = float(input("Enter number: "))

if a not in tup:
    print("The number is not present in tuple")
else:
    print("The number is present in tuple")

Enter number:  2.4

The number is not present in tuple

In [82]:
#Check Key in Dictionary
#Write a Python program to check whether a user-entered key exists in a dictionary. If it exists, print its value.
info = {"name" : "Anu", "place": "Uttar Pradesh", "Hobbies": "Chess"}

key = input("Enter value")

if a in dict:
    print("The key is present in dictionary")
    print("The value is: ", info)
else:
    print("The value is not present in dict")

Enter value Anu

The value is not present in dict

In [84]:
#Filter Words Containing a Letter
#Write a Python program to take a list of words and print only those words that contain the letter 'a' using the in operator.
list1 = ["Apple", "Boy", "Mango", "Juice", "Strawberry"]

print("Words containing the letter 'a':")

#go through each word in list
for word in list1:
    if 'a' in word.lower():
        print(word)

Words containing the letter 'a':
Apple
Mango
Strawberry

# lecture 3: Introduction to Strings in Python

In [1]:
line = "What is a string in Python"
print(line)

What is a string in Python

In [2]:
print("What is a \n string in Python")

What is a
 string in Python

In [3]:
string1 = 'Hello'
string1[0]

'H'

In [5]:
#replace 'H' with 'C'
string1[0] = 'C'

TypeError: 'str' object does not support item assignment

In [6]:
#Concatenate string

In [9]:
str1 = "Anushree"
str2 = "Kashyap"
str3 = 4

concat = str1 + '4' + str2
print(concat)

Anushree4Kashyap

In [12]:
letters = 'Kashyap'
letters*3

'KashyapKashyapKashyap'

In [13]:
string1 = "How does Python index string elements"
string1[5]

'o'

In [15]:
#Slicing
string1[9:]

'Python index string elements'

In [16]:
string1[9::2]

'Pto ne tigeeet'

In [20]:
string1[-1:0:-1]

'stnemele gnirts xedni nohtyP seod wo'

In [21]:
string1[-1::-1]

'stnemele gnirts xedni nohtyP seod woH'

In [23]:
user_str = input("Enter a string: ")
new_str = user_str[-1:0:1]
print(new_str)

Enter a string:  Computer

In [25]:
str1 = "I Have No Idea"
calculate_len = len(str1)
print(calculate_len)

14

In [31]:
sample_str = "difference between"
return_str = sample_str[0:2] + sample_str[-1:-3]
print(return_str)

di

# Python questions on strings

# Basic Level (Indexing & Simple Slicing)

In [32]:
#1. Write a Python program to display the first and last characters of a string entered by the user.
user_str = input("Enter String: ")

first_char = user_str[0]
last_char = user_str[-1]

new_str = first_char + last_char
print(new_str)

Enter String:  Jupyter Notebook

Jk

In [33]:
#2. Given a string "Python", print only the second and fifth characters.
str1 = "Python"
sec_char = str1[1]
fifth_char = str1[5]
print(sec_char)
print(fifth_char)

y
n

In [41]:
#3. Write a program that accepts a string and prints the middle character (for odd length) or the two middle characters (for even length).
user_str = input("Enter String: ")
lenght = len(user_str)

if lenght % 2 != 0:
    middle_index = lenght // 2
    print("Middle Char: ", user_str[middle_index])
else:
    len(user_str) % 2 ==  0
    midd_index1 = lenght // 2 
    midd_index2 = lenght // 2 - 1
    print("Two Middle Character: ", user_str[midd_index1] +  user_str[midd_index2])

Enter String:  Python

Two Middle Character:  ht

In [46]:
#4. Given a string "Hello", print the string in reverse order using slicing.
str1 = "Hello"

reverse_order = str1[::-1]
print(reverse_order)

olleH

In [48]:
#5. Write a Python program to remove the first character from a given string using slicing.
user_str = input("Enter String: ")

remove_first_char = user_str[1::]
print(remove_first_char)

Enter String:  Blue World

lue World

In [52]:
#6. Write a program to extract the first three and last three characters from a given string.
user_str = input("Enter String: ")

new_str = len(user_str)

if new_str >= 6:
    return_str = user_str[0:3] + user_str[-3:]

print(return_str)

Enter String:  notepad

notpad

In [54]:
#7. For the string "programming", print every second character using slicing.
str1 = "programming"

sec_char = str1[1:-1:2]
print(sec_char)

rgamn

In [59]:
#8. Write a Python program to print the string excluding the first and last characters.
str1 = 'trusted'

print(str1[1:-1])

ruste

In [61]:
#9. Given a string, display the characters from index 2 to 7.
str1 = "Interview"
print(str1[2:8])

tervie

In [68]:
#10. Write a Python program that prints a string backwards but skips every second character.
str1 = "How can we include special characters"
print(str1[-1::-2])

secrh acp dln wncwH

Intermediate Level (Advanced Indexing & Slicing Logic)

In [3]:
#11. Write a Python program to swap the first and last characters of a string.
user_str = input("Enter String: ")

new_str = user_str[-1] + user_str[1:-1:] + user_str[0]
print(new_str)

Enter String:  Beautiful

leautifuB

In [5]:
#12. Given a string, display the string starting from the third character till the end.
user_str= input("Enter String: ")

new_str = user_str[2::]
print(new_str)

Enter String:  Change First Letter

ange First Letter

In [9]:
#13. Write a program to print the string in reverse order using a negative step.
user_str= input("Enter String: ")

reverse_order = user_str[::-1]
print(reverse_order)

Enter String:  New Tab

baT weN

In [10]:
#14. Write a program to extract every third character from the string starting from index 1.
user_str = input("Enter a string: ")

new_str = user_str[2::3]
print(new_str)

Enter a string:  Arbor Python Series

b tnee

In [12]:
#15. Write a Python program that prints the string without the first two and last two characters.
user_str = input("Enter string: ")
new_str = user_str[2:-2]
print(new_str)

Enter string:  Last Checkpoint Yesterday

st Checkpoint Yesterd

In [15]:
#16. Given a string "abcdefg", print a substring that contains only even-indexed characters.
given_str = "abcdefg"
even_str = given_str[::2]
print(even_str)

aceg

In [19]:
#17. Write a Python program to check whether the first and last characters of a string are the same.
user_str = input("Enter String: ")

if len(user_str) == 0:
    print("Empty String! Enter Some Text")
elif user_str[0] == user_str[-1]:
    print("The First and Last character of a string are same")
else:
    print("The First and last character of a string are not same")

Enter String:  LeveL

The First and Last character of a string are same

In [18]:
user_str = input("Enter String: ")

if len(user_str) == 0:
    print("Empty string! Please enter some text.")
elif user_str[0] == user_str[-1]:
    print("Yes, the first and last characters are the same.")
else:
    print("No, the first and last characters are different.")

Enter String:  Level

No, the first and last characters are different.

In [21]:
#18. Write a Python program that takes a string and prints all characters at odd indexes.
user_str = input("Enter String: ")

new_str = user_str[1::2]
print(new_str)

Enter String:  Trusted

rse

In [25]:
#19. Given a string, create a new string made of its first 2, middle 2, and last 2 characters using slicing.
user_str = input("Enter String: ")

if len(user_str) <4:
    print("Again Enter String greater than 4 character")
else:
    mid = len(user_str)//2
    new_str = user_str[:2] + user_str[mid-1:mid+1] + user_str[-2:]
print(new_str)

Enter String:  Characters

Chacrs

In [29]:
#20. Write a Python program that reverses only the first half of a string.
user_str = input("Enter String: ")

half = len(user_str)//2
reverse_str = user_str[:half][::-1] + user_str[half:]

print(reverse_str)

Enter String:  microsoft

rcimosoft

#List In Python - Lecture 4 | 14 Nov 2025

In [1]:
 # Assign a list to an variable named my_list
my_list = [1,2,3,4]
type(my_list)

list

In [4]:
my_list = ['A string',23,100.232,'o',True]
my_list

['A string', 23, 100.232, 'o', True]

In [5]:
len(my_list)

5

In [6]:
#4.	Accessing Elements/ List Indexing
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [7]:
#•	# Grab the element at index 0, which is the FIRST element
print(loss_functions[0])

Mean Absolute Error

In [8]:
len(loss_functions)

5

In [10]:
# Grab the element at index 3, which is the FOURTH element
print(loss_functions[3])

Log Loss

In [11]:
print(loss_functions[6])

IndexError: list index out of range

In [12]:
# Grab the element at the index -3, which is the THIRD LAST element
print(loss_functions[-3])

Huber Loss

In [14]:
# Grab the elements starting from index 1 and everything past it
print(loss_functions[1:])

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [16]:
# Grab everything starting from index 2
print(loss_functions[2:])

['Huber Loss', 'Log Loss', 'Hinge Loss']

In [17]:
# Grab everything
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [19]:
# Grab everything in reverse order
print(loss_functions[::-1])

['Hinge Loss', 'Log Loss', 'Huber Loss', 'Mean Squared Error', 'Mean Absolute Error']

In [20]:
print(loss_functions[0:])

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

List Operations/Manipulating Lists: List are mutable and we can change the list but actually it will not change the original value.

In [22]:
loss_functions = loss_functions + ['Kullback-Leibler']

In [24]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [26]:
min(loss_functions)

'Hinge Loss'

In [27]:
max(loss_functions)

'Mean Squared Error'

In [28]:
new_list = [6, 9, 1, 3, 5.5]
min(new_list)

1

In [29]:
max(new_list)

9

In [30]:
sum(new_list)

24.5

# sorted()

In [31]:
new_list = [6, 9, 1, 3, 5.5]
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [33]:
new_list = [6, 9, 1, 3, 5.5, "Anu"]
sorted(new_list)  #•	sorted() function only works on a list with similar data types

TypeError: '<' not supported between instances of 'str' and 'float'

In [34]:
new_list = ['Argue','Burglar','Parent','Linear','shape']
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [35]:
#in reverse order
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [37]:
#Append Method
my_list = [1,2,3,1,1,1,3,10,5,8]
my_list.append(45.32)
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 45.32]

In [43]:
my_list.append(45,[10, 25, 87.65],89,65,3.2, 63.25)
print(my_list)

TypeError: list.append() takes exactly one argument (6 given)

In [39]:
my_list.append([10,[19,20],30])

In [40]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 45.32, [10, [19, 20], 30]]

# Extend

In [44]:
my_list.extend(['Wubba','Lubba','Dub Dub'])
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 45.32,
 [10, [19, 20], 30],
 'Wubba',
 'Lubba',
 'Dub Dub']

In [46]:
my_list.extend([['Wubba','Lubba','Dub Dub'], [12, 45]])
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 45.32,
 [10, [19, 20], 30],
 'Wubba',
 'Lubba',
 'Dub Dub',
 ['Wubba', 'Lubba', 'Dub Dub'],
 [12, 45]]

# pop()

In [48]:
# Pop off the 0 indexed item
my_list.pop()

[12, 45]

In [49]:
my_list.pop(-1)

['Wubba', 'Lubba', 'Dub Dub']

# remove()

In [50]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 45.32, [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [53]:
my_list.remove(45.32)

In [54]:
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 [10, [19, 20], 30],
 'Wubba',
 'Lubba',
 'Dub Dub']

#count()

In [55]:
my_list=[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [57]:
#Count the number of times element 1 occurs in my_list
my_list.count(1)

3

# index()

In [58]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [59]:
my_list.index(1)

2

In [60]:
my_list.index(2)

0

In [61]:
my_list.index('Wubba')

11

# sort()

In [62]:
new_list = [6, 9, 1, 3, 5]

In [65]:
new_list.sort()
print(new_list)

[1, 3, 5, 6, 9]

In [67]:
new_list.sort(reverse= True)
print(new_list)

[9, 6, 5, 3, 1]

# Questions

In [68]:
#1.	Write a Python program to sum all the elements in a list. 
list1  = [12, 45, 3, "Anu"]
list2 = [56, 87, 52, 5.23]
sum_list = list1+ list2
print(sum_list)

[12, 45, 3, 'Anu', 56, 87, 52, 5.23]

In [73]:
#2.	Write a Python program to find the largest element in a list. 
list1 = [45, 87,  56.212, 101]
max(list1)

101

In [75]:
#3.	Write a Python program to count the number of elements in a list. 
len(list1)

4

In [77]:
#4.	Write a Python program to find the average of elements in a list. 
import statistics
list1 = [45, 87,  56.212, 101]
avg = statistics.mean(list1)
print(avg)

72.303

In [83]:
#5.	Write a Python program to reverse a list. 
list1 = [45, 87,  56.212, 101]
list1.reverse()
print(list1)

[101, 56.212, 87, 45]

In [84]:
list1 = [45, 87,  56.212, 101]
reversed_list = list1[::-1]
print(reversed_list)

[101, 56.212, 87, 45]

In [86]:
#6.	Write a Python program to check if a given element exists in a list. 
list1 = [45, 87,  56.212, 101]
list1.index(87)

1

In [87]:
list1 = [45, 87,  56.212, 101]

if 87 in list1:
    print("87 is present in list")
else:
    print("87 is not present in list")

87 is present in list

In [91]:
list1 = [45, 87, 56.212, 101]

try:
    list1.index(102)
    print("102 is present in list")
except:
    print("102 is not present in list")

102 is not present in list

In [1]:
#7.	Write a Python program to remove duplicate elements from a list.  #using append() and not in
list1 = [45, 87, 45, 56.212, 87, 101]

unique_list = []
for item in list1:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[45, 87, 56.212, 101]

In [11]:
# 8.	Write a Python program to find the second largest element in a list. 
list1 = [45, 87, 45, 56.212, 87, 101]

#remove the largest one
largest = max(list1)
list1.remove(largest)

second_largest = max(list1)
print(second_largest)

87

In [15]:
#9.	Write a Python program to sort elements in a list in ascending order. 
list1 = [45, 87, 45, 56.212, 87, 101]

list1.sort()
print(list1)

[45, 45, 56.212, 87, 87, 101]

In [16]:
#10. Write a Python program to merge two lists and sort them.
list1 = [45, 87, 45, 56.212, 87, 101]
list2 = [56, 21, 45, 63, 2.3]

merged_list = list1 + list2


print(merged_list)

[45, 87, 45, 56.212, 87, 101, 56, 21, 45, 63, 2.3]

In [18]:
#merged list and then remove duplicate
list1 = [45, 87, 45, 56.212, 87, 101]
list2 = [56, 21, 45, 63, 2.3]

merged_list = list1 + list2
remove_duplicate = list(set(merged_list))
print(remove_duplicate)

[2.3, 101, 45, 21, 87, 56.212, 56, 63]

In [25]:
#11.Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list?
# Write a Python program to achieve this.
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

element= nested_list_row[2][2]
print(element)

9

In [27]:
#12.Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access 
# the number 8 from the list? Write a Python program to achieve this.
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

element = nested_list_column[2][1]
print(element)

8

In [29]:
#13.Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?
nested_list_column = [1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]

element = nested_list_column[2][3][3]
print(element)

100

In [31]:
#14.Question: How can you access the number 7 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] 
# using negative indexing?
nested_list_column = [1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]

element = nested_list_column[2][0]
print(element)

7

#Questions given by Trainer: 

#Lab – List

#List Indexing, Slicing, and Nested Slicing Questions

In [37]:
#1. Write a program to access the third element from the given list.
list_1 = [10, 20, 30, 40, 50]
element =  list_1[2]
print(element)

30

In [38]:
#2. Write a program to access the last element from the given list using negative indexing.
list_1= ['apple', 'banana', 'cherry', 'date']

element = list_1[-1]
print(element)

date

In [41]:
#3 Write a program to change the second element to 100 in the given list.
list1= [5, 10, 15, 20, 25]
list1[1] = 100
print(list1)

[5, 100, 15, 20, 25]

In [42]:
#4 Write a program to access the first element using negative indexing.
list1= [7, 14, 21, 28, 35]

element = list1[-5]
print(element)

7

In [43]:
#5 Write a program to access the second last element from the given list.
list1 = [1, 2, 3, 4, 5, 6]

element = list1[-2]
print(element)

5

# Slicing Questions

In [45]:
#6 Write a program to extract the first three elements from the given list.
list1= [100, 200, 300, 400, 500, 600]

elements = list1[0:3]
print(elements)

[100, 200, 300]

In [46]:
#7. Write a program to extract all elements except the first two from the given list.
list1 = [2, 4, 6, 8, 10, 12]

elements= list1[2:]
print(elements)

[6, 8, 10, 12]

In [48]:
#8 Write a program to extract every alternate element from the given list.
list1 = [5, 10, 15, 20, 25, 30, 35]

elements = list1[0::2]
print(elements)

[5, 15, 25, 35]

In [49]:
#9 Write a program to reverse the given list using slicing.
list1=  [1, 3, 5, 7, 9]

elements = list1[::-1]
print(elements)

[9, 7, 5, 3, 1]

In [50]:
#10 Write a program to extract elements from index 2 to 5 from the given list.
list1 = [11, 22, 33, 44, 55, 66, 77]

elements = list1[2:5]
print(elements)

[33, 44, 55]

# Nested Slicing Questions

In [51]:
#11 Write a program to access the second element from the first nested list.
list1 =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

elements = list1[0][1]
print(elements)

2

In [52]:
#12 Write a program to extract the last element from the last nested list.
list1 =  [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

elements = list1[2][2]
print(elements)

i

In [57]:
#13 Write a program to extract the second and third lists from a given nested list.
list1 = [[10, 20], [30, 40], [50, 60], [70, 80]]

elements = list1[1:3]
print(elements)

[[30, 40], [50, 60]]

In [60]:
#14 Write a program to extract the second element from all nested lists.
list1 = [[1, 9], [2, 8], [3, 7], [4, 6]]

elements = []

for sublist in list1:
    elements.append(sublist[1])

print(elements)

[9, 8, 7, 6]

In [64]:
#15 Write a program to reverse all sublists in a nested list.
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

elements = []
for sublist in list1:
    elements.append(sublist[::-1])

print(elements)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [1]:
import numpy as np
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

array = np.array[:, -1]
print(array)

TypeError: 'builtin_function_or_method' object is not subscriptable

# append() Function Questions

In [67]:
# 1- Write a program to append the number 100 to the given list.
list1 = [10, 20, 30, 40]

new_element = list1.append(100)
print(list1)

[10, 20, 30, 40, 100]

In [69]:
# 2 Write a program to append a string "Hello" to the given list.
list1 = ['apple', 'banana', 'cherry']

element = list1.append("Hello")
print(list1)

['apple', 'banana', 'cherry', 'Hello']

In [70]:
#3 Write a program to append a list [5, 6, 7] as a single element in the given list.
list1 = [1, 2, 3, 4]

element = list1.append([5, 6, 7])
print(list1)

[1, 2, 3, 4, [5, 6, 7]]

# extend() Function Questions

In [74]:
#1. Write a program to extend the given list by adding another list [50, 60, 70].
list1 = [10, 20, 30, 40]

element = list1.extend([50, 60, 70])
print(list1)

[10, 20, 30, 40, 50, 60, 70]

In [75]:
#2. Write a program to extend a list of numbers [7, 8, 9] with another list [10, 11, 12].
list1 = [7, 8, 9]

elements = list1.extend([10, 11, 12])
print(list1)

[7, 8, 9, 10, 11, 12]

In [77]:
#6 Write a program to extend a list of strings ["cat", "dog"] with another list ["lion", "tiger"].
list1 = ["cat", "dog"]

elements  = list1.extend(["lion", "tiger"])
print(list1)

['cat', 'dog', 'lion', 'tiger']

# pop() Function Questions

In [78]:
# 7 Write a program to remove the last element from the given list using the pop function.
list1 = [10, 20, 30, 40]

element = list1.pop()
print(list1)

[10, 20, 30]

In [79]:
#8 Write a program to remove the third element from the given list using the pop function.
list1= [1, 2, 3, 4, 5]

element = list1.pop(2)
print(list1)

[1, 2, 4, 5]

In [81]:
#9 Write a program to remove the first element from the given list using the pop function.
list1 = [100, 200, 300, 400]

elements = list1.pop(0)
print(list1)

[200, 300, 400]

# remove() Function Questions

In [83]:
# 10 Write a program to remove the element 20 from the given list.
list1 = [10, 20, 30, 40, 50]

elements = list1.remove(20)
print(list1)

[10, 30, 40, 50]

In [84]:
#11 Write a program to remove the first occurrence of "apple" from the given list.
list1=  ["banana", "apple", "cherry", "apple"]

elements = list1.remove("apple")
print(list1)

['banana', 'cherry', 'apple']

In [85]:
#12.  Write a program to remove the number 5 from the given list if it exists.
list1 = [1, 2, 3, 4, 5, 6]

elemennts = list1.remove(5)
print(list1)

[1, 2, 3, 4, 6]

# index() Function Questions

In [87]:
# 13 Write a program to find the index of the element 50 in the given list.
list1= [10, 20, 30, 40, 50, 60]

elements = list1.index(50)
print(elements)

4

In [88]:
# 14  Write a program to find the index of "cherry" in the given list.
list1 =["apple", "banana", "cherry", "date"]

elements = list1.index("cherry")
print(elements)

2

In [89]:
#15  Write a program to find the index of the number 100 in the given list. If not found, print "Not found".
list1 = [10, 20, 30, 40]

if 100 in list1:
    print("Found")
else:
    print("not found")

not found

# count() Function Questions

In [91]:
#16 Write a program to count the occurrences of 5 in the given list.
list1= [1, 5, 2, 5, 3, 5, 4]

elements = list1.count(5)
print(elements)

3

In [93]:
#17 Write a program to count how many times "apple" appears in the given list.
list1 = ["apple", "banana", "apple", "cherry", "apple"]

elements = list1.count("apple")
print(elements)

3

In [96]:
#18 Write a program to count the occurrences of 100 in the given list.
list1 = [10, 20, 30, 40, 50]

elements = list1.count(100)
print(elements)

0

# min() and max() Function Questions

In [97]:
#19 Write a program to find the minimum value in the given list.
list1 = [45, 12, 78, 34, 23]

elements = min(list1)
print(elements)

12

In [98]:
#20 Write a program to find the maximum value in the given list.
list1 = [99, 55, 73, 21, 64]

elements = max(list1)
print(elements)

99

# Tuple()

In [1]:
#Convert list into Tuple:
a = [1, 23,4, 6, 8]
type(a)

list

In [3]:
b = tuple(a)
type(b)

tuple

In [5]:
#again convert it into list
c = list(b)
type(c)

list

In [6]:
a.count(23)

1

In [7]:
a_tup = (12, 5.3, 56, 2, 3, 3, 3, 5, 6, 99, 6, 54, 3)
a_tup.count(3)

4

In [8]:
max(a_tup)

99

In [9]:
min(a_tup)

2

In [10]:
len(a_tup)

13

In [11]:
a_tup[::-1]

(3, 54, 6, 99, 6, 5, 3, 3, 3, 2, 56, 5.3, 12)

In [12]:
a_tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [14]:
sorted(a_tup)

[2, 3, 3, 3, 3, 5, 5.3, 6, 6, 12, 54, 56, 99]

In [17]:
#merge two tuples by
city_list = ('Delhi', 'Patna', 'Cuttak', 'Guwahati')
river_list = ('Yamuna', 'Ganga', 'Mahanadi', 'Brahmputra')
merge = city_list + river_list
print(merge)

('Delhi', 'Patna', 'Cuttak', 'Guwahati', 'Yamuna', 'Ganga', 'Mahanadi', 'Brahmputra')

In [19]:
#merge two tuples by using zip()
city_list = ('Delhi', 'Patna', 'Cuttak', 'Guwahati')
river_list = ('Yamuna', 'Ganga', 'Mahanadi', 'Brahmputra')

z = zip(city_list, river_list) #ye ek zip ke andar save ho gya is address ke andar "0x00000229004FD8C0"
print(z)

<zip object at 0x00000229004FD8C0>

In [21]:
#isi zip ko tuple me convert kr de
z = tuple(zip(city_list, river_list))
z

(('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttak', 'Mahanadi'),
 ('Guwahati', 'Brahmputra'))

In [22]:
#merge two tuples by using zip()
city_list = ('Delhi', 'Patna', 'Cuttak', 'Guwahati', 'Paithan')
river_list = ('Yamuna', 'Ganga', 'Mahanadi', 'Brahmputra')

z = zip(city_list, river_list)
z

In [23]:
z = tuple(zip(city_list, river_list)) #yaha 'Paithan' city ko match nahi kiya. kyu k match krne ke lie koi element nahi hai river_list me
z

(('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttak', 'Mahanadi'),
 ('Guwahati', 'Brahmputra'))

# Sets in python

Unordered Collection, unique elements

In [27]:
s = {1,  1 , 2, 2, "Anu", "Anu"}
s

{1, 2, 'Anu'}

In [28]:
s = {1,  1 , 2, 2, "Anu", "Anu", 50, 100} #unordered
s

{1, 100, 2, 50, 'Anu'}

In [30]:
s = {1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap"}
s

{1, 100, 2, 50, 'Anu', 'Kashyap'}

In [31]:
s = {1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap", [1, 2, 3]}  #set ke andar list nahi daal sakte, error dega
s

TypeError: unhashable type: 'list'

In [32]:
s = {1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap", {1, 2, 3}} #set ke andar, set put nahi kr sakte hai
s

TypeError: unhashable type: 'set'

In [33]:
s = {1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap", (1, 2, 3)} #set ke andar, tuple daal sakte hai.
s

{(1, 2, 3), 1, 100, 2, 50, 'Anu', 'Kashyap'}

In [34]:
#list se duplicate elements remove karne hai, but ye nested elements ke lie work nahi karega, works for only unique elements
list1 = [1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap",]
#convert list to set
s = set(list1)
print(s)

{1, 'Anu', 2, 100, 'Kashyap', 50}

In [38]:
l = [1,  1 , 2, 2, "Anu", "Anu", 50, 100, "Kashyap", 3, 3, [1, 2, 3, 3, 3]] #nested list me kaam nahi karega
s = set(l)
print(s)

TypeError: unhashable type: 'list'

In [39]:
#lets take an empty set and after that add element to it
s = set()
s

set()

In [40]:
#add element--yaha maine empty set me ek element add kr diya
s.add('Abhishek')
print(s)

{'Abhishek'}

In [41]:
s.add('Anu')
s

{'Abhishek', 'Anu'}

In [43]:
s.add('Kashyap')
s

{'Abhishek', 'Anu', 'Kashyap'}

In [45]:
s.add(1)
s

{1, 'Abhishek', 'Anu', 'Kashyap'}

In [47]:
s.add(2)
s

{1, 2, 'Abhishek', 'Anu', 'Kashyap'}

In [50]:
#remove element from set
s.remove('Abhishek')
s

{1, 'Anu', 'Kashyap'}

# Union in set()

In [51]:
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Intersection in set()

In [52]:
a.intersection(b) #GIVES COMMON ELEMENTS IN BOTH

{5}

# Difference()  in set

In [53]:
a = {1, 2, 3, 4, 5} #pehle set (a) ke unique element dega sirf
b = {5, 6, 7, 8, 9}
c = a-b
print(c)

{1, 2, 3, 4}

In [54]:
c = b-a #b ke unique elements dega
c

{6, 7, 8, 9}

# Symmetric_difference() in set

In [55]:
a = {1, 2, 3, 4, 5} # set a and set b me 5 common hai,to 5 remove kr dega waki return kr dega
b = {5, 6, 7, 8, 9}
c = a^b
c

{1, 2, 3, 4, 6, 7, 8, 9}

# 20 questions on Tuples

In [60]:
#1. Write a function to return the first and last elements of a tuple.
t = (1, 2, 3, 5.3, 6.222, 5.000)
element =  (t[0], t[-1])
print(element)

(1, 5.0)

In [63]:
# using def function
t = (1, 2, 3, 5.3, 6.222, 5.000)

def first_last(t):
    return(t[0],t[-1])
print(first_last(t))

(1, 5.0)

In [1]:
#2. Given a tuple of integers, write Python code to calculate the sum without converting it to a list.
t1 = (1, 2, 3)
t2 = (2, 3, 4)

total_sum= sum(t1) + sum(t2)
print(total_sum)

15

In [3]:
t1 = (1, 2, 3)

total= sum(t1)
print(total)

6

In [6]:
#3. Write a program to find the index of a given value in a tuple.
t = (1, 2, 3, 5.3, 6.222, 5.000)

find_index = t.index(5.3)
print(find_index)

3

In [8]:
t = (1, 2, 3, 5.3, 6.222, 5.000, 'Anu')
find_index = t.index('Anu')
print(find_index)

6

In [9]:
#4. Write Python code to reverse a tuple.
t = (1, 2, 3, 5.3, 6.222, 5.000, 'Anu')

reverse = t[::-1]
print(reverse)

('Anu', 5.0, 6.222, 5.3, 3, 2, 1)

In [12]:
#5. Convert a tuple of tuples into a single flattened tuple.
t = ((1, 2), (3, 4), (5, 6))   #Method 1: Using a simple loop-- List comprehension (item for sub in t…)

flat = tuple(item for sub in t for item in sub)
print(flat)

(1, 2, 3, 4, 5, 6)

In [17]:
# 6. Given a tuple of strings, write code to sort the_tuple alphabetically.
t = ('Table','Anu', 'Kashyap', 'Sagar', 'Abhi', 'Maggie')

sort_tup = tuple(sorted(t))
print(sort_tup)

('Abhi', 'Anu', 'Kashyap', 'Maggie', 'Sagar', 'Table')

In [18]:
# 7. Write Python code to count occurrences of a specific element in a tuple.
t = ('Table','Anu', 'Kashyap', 'Sagar', 'Abhi', 'Maggie', 'Anu', 'anu', 'Sagar')

occurences = t.count('Anu')
print(occurences)

2

In [20]:
# 8. Write a function to replace an element in a tuple at a given index.(replace all occurances)
# Version 1: Replace element at a specific index
t = ('Table','Anu', 'Kashyap', 'Sagar', 'Abhi', 'Maggie', 'Anu', 'anu', 'Sagar')

#convert tuple to list
list1 = list(t)

## Step 2: replace each "Anu" with "khushi"
for i in range(len(t)):
    if list1[i] == 'Anu':
        list1[i] = 'Khushi'

# Step 3: convert list back to tuple
t = tuple(list1)

print(t)

('Table', 'Khushi', 'Kashyap', 'Sagar', 'Abhi', 'Maggie', 'Khushi', 'anu', 'Sagar')

In [21]:
# Or : Replace by index (example: change index 1 to 'khushi')
t = ('Table','Anu', 'Kashyap', 'Sagar', 'Abhi', 'Maggie', 'Anu', 'anu', 'Sagar')
#convert to list
list1 = list(t)

list1[1] = 'Khushi'
#again convert into tuple
convert_tup = tuple(list1)

print(convert_tup)

('Table', 'Khushi', 'Kashyap', 'Sagar', 'Abhi', 'Maggie', 'Anu', 'anu', 'Sagar')

In [22]:
#9. Write Python code to check whether two tuples are identical.
t1 = (1, 2, 3)
t2 = ('Anu', 'Sagar', '3')

if t1 == t2:
    print("Yes! Tuples are Identical")
else:
    print('No!, Tuples are not Identical')

No!, Tuples are not Identical

In [25]:
#10. Convert a tuple of integers into a tuple containing their squares.
t = (1, 2, 3, 4, 5)

#convert each number into list
list1 = []

for num in t:
    list1.append(num*num)

#again convert this into tuple
t = tuple(list1)

print(t)

(1, 4, 9, 16, 25)

In [27]:
#multiply each number by 10
t = (1, 2, 3, 4, 5)

list1 =[]

for num in t:
    list1.append(num * 10)

convert_tup = tuple(list1)

print(convert_tup)

(10, 20, 30, 40, 50)

In [30]:
#Example 2: Convert each name to uppercase
t = ("anu", "sagar", "kiran")

list1 = []

for upper_case in t:
    list1.append(upper_case.upper())

convert_tup = tuple(list1)

print(convert_tup)

('ANU', 'SAGAR', 'KIRAN')

In [2]:
#11. Write a program to merge(Concatenate) two tuples into one.
tup1 = ('Anu', 12, 2.33, 56, 10, 'Abhi')
tup2 = ('Kashyap', 'Table', 'Chair', 54, 78, 6)

merge_tup = tup1 +  tup2
merge_tup

('Anu', 12, 2.33, 56, 10, 'Abhi', 'Kashyap', 'Table', 'Chair', 54, 78, 6)

In [4]:
#12. Write Python code to find the maximum and minimum elements in a tuple.
tup1 = (12, 2.33, 56, 10)

max_element = max(tup1)
min_element = min(tup1)

print(max_element)
print(min_element)

56
2.33

In [8]:
#13. Given a tuple of (name, score), write code to get the name with the highest score.
tup_name = ('Anu', 'Abhi', 'Sagar', 'Khushi')
tup_score = (50, 62, 84, 65)

#use zip to combine name with score
name_score = zip(tup_name, tup_score)

#use lambda function to identify name with highest score
highest_score = max(name_score, key=lambda x:x[1])
print(highest_score[0])

Sagar

In [9]:
# OR
tup_name = ('Anu', 'Abhi', 'Sagar', 'Khushi')
tup_score = (50, 62, 84, 65)

max_score = max(tup_score)

#index of the highest score
i = tup_score.index(max_score)

#print the name at the same index
print('Highest_score: ', tup_name[i])

Highest_score:  Sagar

In [13]:
#14. Write a function to split a tuple into two halves.

tup_name = ('Anu', 'Abhi', 'Sagar', 'Khushi', 5)

mid = len(tup_name)//2

#split into two half
first_half = tup_name[:mid]
sec_half = tup_name[mid:]

print('First Half', first_half)
print('Second Half', sec_half)

First Half ('Anu', 'Abhi')
Second Half ('Sagar', 'Khushi', 5)

In [19]:
#15.Given a tuple of numbers, write code to find all unique pairs whose sum is a target value.
t = (1, 2, 5, 8, 5, 6, 6, 4, 45)
target = 10
pairs = []

for i in range(len(t)):
    for j in range(i + 1, len(t)):
        if t[i] + t[j] == target:
            if (t[j],t[i]) not in pairs:
                pairs.append((t[i], t[j]))

print(pairs)

[(2, 8), (5, 5), (6, 4), (6, 4)]

In [22]:
t = (1, 2, 5, 8, 5, 6, 6, 4, 45)

target = 15

pairs = []

for i in range(len(t)):
    for j in range(i + 1, len(t)):
        if t[i] + t[j] == target:
            if (t[j], t[i]) not in pairs:
                pairs.append((t[i], t[j]))

print(pairs)

[]

In [24]:
#16.	Write code to remove duplicates from a tuple.
t = (1, 2, 5, 8, 5, 6, 6, 4, 45)

#remove duplicate
remove_dup = tuple(set(t))

print(remove_dup)

(1, 2, 4, 5, 6, 8, 45)

In [27]:
#17. Write Python code to check if a tuple is sorted.
t = (1, 2, 5, 8, 5, 6, 6, 4, 45)

#check
is_sorted = t == tuple(sorted(t))

print(is_sorted)

False

In [30]:
#18. Given a nested tuple, write a program to access a deeply nested value.
t = (1, 2, 5, 8, 5, 6, (((6, 4), (5, 100)), 45)) # "((6, 4), (5, 100)), 45)" is at index=6

nested_val = t[6][0][1][1]

print(nested_val)

100

In [31]:
#19. Write code to convert a tuple to a dictionary, assuming it has key-value pairs.
t = (('name','Anu'), ('age', 25), ('city', 'Delhi'))

d = dict(t)

print(d)

{'name': 'Anu', 'age': 25, 'city': 'Delhi'}

In [37]:
#20. Write Python code to find the element with the longest string length in a tuple of strings.
t = ('Anushree', 'Kashyap', 'Knowledge', 'Bathroom', 'Childrens')

longest = max(t, key=len)  #Compare items by their length
print(longest,  len(longest))

Knowledge 9

# Set()

unordered collection, no indexing and slicing

In [1]:
s = {'a', 'b', 1, 2, (1, 2, 3)} #set ke andar sirf tuple aa sakta hai, list, set, dict nahi aa sakta
s

{(1, 2, 3), 1, 2, 'a', 'b'}

In [3]:
s.add(11) #to add one element
s

{(1, 2, 3), 1, 11, 2, 'a', 'b'}

In [5]:
s.update([5.5,6.6, 'a', 10]) #multiple element add krne lie list[] me element likhege
s

{(1, 2, 3), 1, 10, 11, 2, 5.5, 6.6, 'a', 'b'}

In [6]:
s.remove((1,2,3))
s

{1, 10, 11, 2, 5.5, 6.6, 'a', 'b'}

In [27]:
len(s)

8

In [29]:
s1 = {1, 2, 1,2,3,1,2,3,99,1,23,44,1,0}
print(s1)

{0, 1, 2, 99, 3, 23, 44}

In [31]:
s1 = {1, 2, 1,2,3,{1,2,3,99,1,23,44,1,0}} #set ke andar, nested set, list, dict ye sab nahi aa sakta, kewal tuple aa sakta hai
s1

TypeError: unhashable type: 'set'

In [32]:
s1 = {1, 2, 3, 4 , [2.2, 0.3, 2, 3]}
s1

TypeError: unhashable type: 'list'

In [7]:
name = ['name', 'class', 'age']
value = ['anu', 'DA', '25']

zip_1= zip(name, value)
zip_1

In [11]:
zip_1= dict(zip(name, value) )
zip_1

{'name': 'anu', 'class': 'DA', 'age': '25'}

In [12]:
zip_1= list(zip(name, value) )
zip_1

[('name', 'anu'), ('class', 'DA'), ('age', '25')]

In [33]:
city_list = ['Delhi','Patna','Cuttack','Guwahati','z']
river_list = ['Yamuna','Ganga','Mahanadi','Brahamputra','Thames']

dict(zip(city_list, river_list))

{'Delhi': 'Yamuna',
 'Patna': 'Ganga',
 'Cuttack': 'Mahanadi',
 'Guwahati': 'Brahamputra',
 'z': 'Thames'}

# union in set: do alag alag set ko ek sath merge karega, remove duplicate

In [14]:
a = {1, 2, 3, 4, 5, 2, 3, 5}
b = {2, 5, 10, 7, 9, 10, 2, 3}

union = a | b
print(union)

{1, 2, 3, 4, 5, 7, 9, 10}

In [42]:
union = a.union(b) #dono me jo common element hai wo ek bar likhega and uncommon element bhi ek bar likhega
union

{1, 2, 3, 4, 5, 7, 9, 10}

# intersection()

In [17]:
a.intersection(b)

{2, 3, 5}

In [39]:
a & b # a me jo common element hai wo likhega

{2, 3, 5}

In [38]:
b & a #b me jo common element hai wo likhega

{2, 3, 5}

# difference()

In [18]:
a - b # set a me 1 and 4 common nahi hai set b se.

{1, 4}

In [21]:
a.difference(b)

{1, 4}

In [35]:
b.difference(a)

{7, 9, 10}

# symmetric_difference()

In [36]:
a = {1, 2, 3, 4, 5, 2, 3, 5}
b = {2, 5, 10, 7, 9, 10, 2, 3}

In [37]:
a.symmetric_difference(b)

{1, 4, 7, 9, 10}

# Dictionary() in python

In [22]:
d = {1: 'Anu', 'name': 'Kashyap', 'age': [21, 23]}
d[1]

'Anu'

In [23]:
d = {'name': 'Anu', 'name': 'Kashyap', 'age': [21, 23]}
d['name']

'Kashyap'

In [24]:
d['name']

'Kashyap'

In [26]:
list(d.values())

['Kashyap', [21, 23]]

In [43]:
Roll_01 = {'Name':'Sai Kundgar',"Salary": 95000 , 'Dept':'DS' , "TECH":['SQL',"Power Bi","Python","Excel"]}
Roll_02 = {'Name':'Aniket Rajput',"Salary": 85000 , 'Dept':'AI' , "TECH":['SQL',"Power Bi","Python","Excel","ML"]}
Roll_03 = {'Name':'Pranav Dhumal',"Salary": 115000 , 'Dept':'DA' , "TECH":['Django',"Power Bi","Python","Excel"]}

In [47]:
Employees = {'Roll_01': {'Name':'Sai Kundgar',"Salary": 95000 , 'Dept':'DS' , "TECH":['SQL',"Power Bi","Python","Excel"]} ,
             'Roll_02' : {'Name':'Aniket Rajput',"Salary": 85000 , 'Dept':'AI' , "TECH":['SQL',"Power Bi","Python","Excel","ML"]},
             'Roll_03' : {'Name':'Pranav Dhumal',"Salary": 115000 , 'Dept':'DA' , "TECH":['Django',"Power Bi","Python","Excel"]}}

In [48]:
#extract element
Employees['Roll_02']['Name']

'Aniket Rajput'

In [50]:
Employees['Roll_02']['TECH']

['SQL', 'Power Bi', 'Python', 'Excel', 'ML']

In [54]:
Employees['Roll_03']['Salary'] = 10

In [55]:
Roll_03

{'Name': 'Pranav Dhumal',
 'Salary': 10,
 'Dept': 'DA',
 'TECH': ['Django', 'Power Bi', 'Python', 'Excel']}

In [57]:
Employees['Roll_02']['Dept']

'AI'

In [59]:
Employees.update[{'Roll_01': {'Name': 'Shreya Gupta'}}]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [60]:
d = {'name': 'anu', 'class': 'DS', 'age': 25}
d.update({'hobby': 'chess'})

In [61]:
d

{'name': 'anu', 'class': 'DS', 'age': 25, 'hobby': 'chess'}

In [64]:
d['Address'] = 'Pune'

In [65]:
d

{'name': 'anu', 'class': 'DS', 'age': 25, 'hobby': 'chess', 'Address': 'Pune'}

In [66]:
d.update({'Address': 'Uttar Pradesh', 'hire date': '25-11-2025'})
d

{'name': 'anu',
 'class': 'DS',
 'age': 25,
 'hobby': 'chess',
 'Address': 'Uttar Pradesh',
 'hire date': '25-11-2025'}

In [67]:
#convert dict into list-- extract key
list(d)

['name', 'class', 'age', 'hobby', 'Address', 'hire date']

In [68]:
a = list(d.values()) #extract values
a

['anu', 'DS', 25, 'chess', 'Uttar Pradesh', '25-11-2025']

In [71]:
#use of index()
a.index('chess')

3

In [72]:
a.index('hobby')

ValueError: 'hobby' is not in list

In [73]:
#use of zip
state_list = {'Uttar Pradesh', 'Maharashtra', 'Madhya Pradesh'}
city_list = {'Lucknow', 'Pune', 'Ujjain'}

temp = list(zip(state_list, city_list))
temp

[('Maharashtra', 'Ujjain'),
 ('Madhya Pradesh', 'Lucknow'),
 ('Uttar Pradesh', 'Pune')]

In [75]:
#convert it into dict
dict(temp)

{'Maharashtra': 'Ujjain', 'Madhya Pradesh': 'Lucknow', 'Uttar Pradesh': 'Pune'}

In [76]:
#convert to tuple
tuple(temp)

(('Maharashtra', 'Ujjain'),
 ('Madhya Pradesh', 'Lucknow'),
 ('Uttar Pradesh', 'Pune'))

In [77]:
#convert to set
set(temp)

{('Madhya Pradesh', 'Lucknow'),
 ('Maharashtra', 'Ujjain'),
 ('Uttar Pradesh', 'Pune')}

In [78]:
#len 
len(temp)

3

In [79]:
len(state_list)

3

In [83]:
d

{'name': 'anu',
 'class': 'DS',
 'age': 25,
 'hobby': 'chess',
 'Address': 'Uttar Pradesh',
 'hire date': '25-11-2025'}

In [85]:
#pop()
d.pop('class')

'DS'

In [86]:
d #now the key 'class' and value 'DS' are removed.

{'name': 'anu',
 'age': 25,
 'hobby': 'chess',
 'Address': 'Uttar Pradesh',
 'hire date': '25-11-2025'}

# 20 set question: ChatGPT

In [87]:
#1.	Write Python code to remove duplicates from a list using a set.
list1 = [1, 1, 2, 2, 3, 3, 4, 5, .3, 54, 58, 100, 101, 101, 120, 120, 234]

s = set(list1)
s

{0.3, 1, 2, 3, 4, 5, 54, 58, 100, 101, 120, 234}

In [88]:
# 2.	Write code to find the intersection of two sets.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

s1.intersection(s2)

{4, 5}

In [89]:
# 3.	Write a function to find elements that are present in set A but not in set B.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

s1.difference(s2)

{1, 2, 3}

In [91]:
#4.	Given a dataset of names stored in a set, write code to check if a name exists.
names = {"Anu", "Abhi", "Sagar", "Khushi", "Kashyap"}

#to check 'Sagar' exist
name_to_check ='Sagar'

if name_to_check in names:
    print('Sagar is present')
else:
    print('Sagar is not present')

Sagar is present

In [92]:
#5.	Write a program to find the union of multiple sets.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s3 = {6, 7, 8, 9}

union = s1.union(s2, s3)
union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
union = s1 |s2 |s3
union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
#convert theses s1, s2, s3 sets into list and then find union
sets = [s1, s2, s3]
sets

[{1, 2, 3, 4, 5}, {4, 5, 6, 7}, {6, 7, 8, 9}]

In [96]:
union_set = set.union(*sets)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
#6.	Write code to determine whether a given set is a subset of another set.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s3 = {6, 7, 8, 9}

#check subset

check =(s1.issubset(s2, s3))
check

TypeError: set.issubset() takes exactly one argument (2 given)

In [101]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

check =(s1.issubset(s2))
check

False

In [102]:
# 7.	Write Python code to find the symmetric difference between two sets.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

a = s1.symmetric_difference(s2)
a

{1, 2, 3, 6, 7}

In [107]:
# 8.Write a program to add multiple elements to a set.

s = {1, 2, 3}

s.update([4, 5])
print(s)

{1, 2, 3, 4, 5}

In [108]:
#9.	Write code to remove an element safely (avoid errors if missing).
s1 = {1, 2, 3, 4, 5}

s1.pop()

1

In [109]:
s1

{2, 3, 4, 5}

In [113]:
#10. Given a set of numbers, write code to find the largest and smallest numbers.
s1 = {1, 2, 3, 4, 5}

m =max(s1)
print(m)

5

In [114]:
s1 = {1, 2, 3, 4, 5}
m = min(s1)
print(m)

1

In [115]:
#11.	Write Python code to convert a set into an immutable set (frozenset).
s1 = {1, 2, 3, 4, 5}

immutable = frozenset(s1)
immutable

frozenset({1, 2, 3, 4, 5})

In [118]:
#12. Write code to count unique words from a text using sets.
text = "Knowledge is power and knowledge comes from learning"

#split text into words
split_words = text.split()

#convert list to set to get unique words
unique_words = set(split_words)

# count unique word
count_words = len(unique_words)

print('Unique words', unique_words)
print('Number of unique words', count_words)

Unique words {'from', 'knowledge', 'Knowledge', 'power', 'is', 'and', 'learning', 'comes'}
Number of unique words 8

In [119]:
#13.Given two sets, write a function to check if they are disjoint.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

d = s1.isdisjoint(s2)
d

False

In [122]:
#14. Write Python code to filter even numbers from a set. (with for loop)
s = {1, 2, 3, 4, 5, 6, 53}

for num in s:
    if num % 2 == 0:
        print(num)

2
4
6

In [123]:
# with set comprehension
s = {1, 2, 3, 4, 5, 6, 53}

even_nums = {num for num in s if num % 2 == 0}

if even_nums:
    print('Even Number: ', even_nums)
else:
    print('No even numbers found')

Even Number:  {2, 4, 6}

In [124]:
#15. Write code to create a set of unique characters from a string.
s = 'knowledge'

unique_char = set(s)

print(unique_char)

{'w', 'd', 'e', 'o', 'n', 'k', 'g', 'l'}

In [126]:
# 16 Write code to find duplicate elements between two lists using a set.
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]

duplicate = set(l1).intersection(set(l2))
duplicate

{3, 4, 5}

In [129]:
#unique element
unique = set(l1).symmetric_difference(set(l2))
unique

{1, 2, 6, 7}

In [130]:
#17.Write a function to remove all elements of one set from another.
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]

unique = set(l1).difference(set(l2))
unique

{1, 2}

In [134]:
#18	Given a set of tuples, write code to find tuples where the first value is greater than 10.
s = {(5, 20), (12, 3), (15, 8), (7, 9)}

found = False # # assume nothing found yet

for num in s:
    if num[0] > 10:
        print('Value greater than 10', num)
        found = True   # mark that we found a match
        
if not found: # only prints if found is False
    print('Value is not greater than 10')

Value greater than 10 (15, 8)
Value greater than 10 (12, 3)

In [142]:
# by set comprehension
s = {(5, 20), (12, 3), (15, 8), (7, 9)}

find_tup = {t for t in s if t[0]>10}
find_tup

{(12, 3), (15, 8)}

In [137]:
#19.Write a program to check if two sets have the same elements (order does not matter).
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

same_element = (s1 == s2)
print(same_element)

False

In [139]:
# 20.	Write Python code to create all possible pairs from two sets. (Using set comprehension (cleanest))
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

pairs = {(a,b) for a in s1 for b in s2}

pairs

{(1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7)}

In [140]:
# nested loop

s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}

list1 = []

for a in s1:
    for b in s2:
        list1.append((a, b))

print(list1)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7), (3, 4), (3, 5), (3, 6), (3, 7), (4, 4), (4, 5), (4, 6), (4, 7), (5, 4), (5, 5), (5, 6), (5, 7)]

# Dictionaries() in python | Lecture 7

In [1]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [2]:
# Call values by their key
marvel_dict['Place']

'Asgard'

In [3]:
type(marvel_dict)

dict

In [4]:
marvel_dict['Name']

'Thor'

In [6]:
marvel_dict['Random'] #becz Random key is not present in marvel_dict

KeyError: 'Random'

In [8]:
marvel_dict['Weapon']

'Hammer'

In [9]:
marvel_dict['alibies']

['Ironman', 'Captain America']

In [10]:
type(marvel_dict['abc'])

dict

# Dictionary Methods

keys()
keys() method returns the list of keys in the dictionary object

In [11]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [12]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

values()
values() method returns the list of values in the dictionary object

In [13]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [14]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

items()
items() method returns the list of the keys and values

In [16]:
# Get the keys and their corresponding values
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

We can also use the get() method to extract a particular value of key-value pair.

In [17]:
marvel_dict.get('Place')

'Asgard'

get()

get() method takes the key as an argument and returns None if the key is not found in the dictionary.

We can also set the value to return if a key is not found. This will be passed as the second argument in get()

In [20]:
marvel_dict('place')  #Place is key not 'place'

TypeError: 'dict' object is not callable

In [22]:
#but we do this with GET method, the error will not show, becz GET method pass the error.
marvel_dict.get('place')

In [23]:
marvel_dict.get('Place')

'Asgard'

In [25]:
print(marvel_dict.get('Random')) # 'Random' is a Random key, which is not present as actual key in marvel_dict thats why it shows None

None

In [26]:
print(marvel_dict.get('Random', 'Not Found')) #if 'Random' key not found in marvel_dict, it gives 'Not Found' as output

Not Found

In [27]:
marvel_dict['friend']

KeyError: 'friend'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [28]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

In [29]:
len(employee_dict)

4

In [30]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [31]:
employee_dict('Skills')

TypeError: 'dict' object is not callable

In [32]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [33]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()

'PYTHON'

In [34]:
# Add a new key
employee_dict['Designation'] = 'Senior Data Scientist'

In [35]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist'}

update()

You can add an element which is a key-value pair using the update() method

This method takes a dictionary as an argument

In [36]:
employee_dict.update({'Salary':'2,000,000'})

In [37]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

We can also use the update() method to update the existing values for a key

In [39]:
employee_dict.update({'Name': 'Anushree Kashyap'})

In [40]:
employee_dict

{'Name': 'Anushree Kashyap',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

We can affect the values of a key as well without the update() method

In [41]:
employee_dict['Name']

'Anushree Kashyap'

In [42]:
# add 'Gupta' in existing name
employee_dict['Name'] = employee_dict['Name'] + ' '+ 'Gupta'
employee_dict

{'Name': 'Anushree Kashyap Gupta',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

dict()

We can also create dictionary objects from sequence of items which are pairs. This is done using the dict()method

dict() function takes the list of paired elements as argument

In [43]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [46]:
country_city_list = list(zip(country_list, city_list))   #zip make combination of key: value pairs.
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]

In [47]:
dict(country_city_list)

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [48]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [49]:
country_city_dict = dict(country_city_tuples)

In [50]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

pop()

pop() method removes and returns an element from a dictionary having the given key.

This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [52]:
country_city_dict.pop('England')

'London'

In [53]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [57]:
element_to_pop = country_city_dict.pop('India')

In [58]:
element_to_pop

'New Delhi'

In [60]:
country_city_dict

{'Australia': 'Canberra', 'United States': 'Washington DC'}

We can use the zip() and dict() methods to create a dictionary object from two lists

In [61]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [63]:
mapped = zip(name, marks)
mapped

In [64]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [65]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60,80]

In [66]:
mapped = zip(name, marks)

In [67]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

# Dictionary 20 Questions Given by Trainer

In [68]:
#Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? 
# Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}

my_dict['b']

20

In [70]:
#Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}, how can you update the value of 
# 'age' to 30? Write a Python program to achieve this.
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
my_dict.update({'age': 30})
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [71]:
#Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.pop('b')

20

In [72]:
my_dict

{'a': 10, 'c': 30}

In [74]:
#Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you add a new key-value pair 'city': 'London'? 
# Write a Python program to achieve this.
my_dict = {'name': 'Alice', 'age': 30}
my_dict['city'] = 'London'
my_dict

{'name': 'Alice', 'age': 30, 'city': 'London'}

In [75]:
#Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.keys()

dict_keys(['x', 'y', 'z'])

In [76]:
#Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program 
#to achieve this.
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.values()

dict_values([1, 2, 3])

In [81]:
#Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}

if 'b' in my_dict:
    print("Key 'b' exists in the dictionary")
else:
    print("Key 'b' does not exists in the dictionary")

Key 'b' exists in the dictionary

In [82]:
# OR
my_dict = {'a': 10, 'b': 20, 'c': 30}

if my_dict.get('b') is not None:
    print("Key 'b' Exists")

Key 'b' Exists

In [83]:
#Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? 
# Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}

for key, value in my_dict.items():
    print(key, ":", value)

a : 10
b : 20
c : 30

In [85]:
#Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? 
#Write a Python program to achieve this.
my_dict = {'x': 1, 'y': 2, 'z': 3}

my_dict.clear()
my_dict

{}

In [86]:
#Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.
my_dict = {'name': 'Alice', 'age': 30}

len(my_dict)

2

In [89]:
#Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? 
# Write a Python program to achieve this.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merge = {**dict1 , **dict2}
merge

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [90]:
#Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? 
# Write a Python program to achieve this.
my_dict = {'name': 'John', 'age': 25}

my_dict2 = my_dict.copy()
my_dict2

{'name': 'John', 'age': 25}

In [92]:
#Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you get a default value when accessing a missing key? 
# Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}

missing_key =my_dict.get('d', 0) #d does not exist and hence 0 will come as a value

missing_key

0

In [3]:
#Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python
#program to achieve this.
my_dict = {'name': 'Alice', 'age': 30}

convert_list = list(my_dict.items())
convert_list

[('name', 'Alice'), ('age', 30)]

In [8]:
#Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20, 'c': 30}

s = dict(sorted(my_dict.items()))
s

{'a': 10, 'b': 20, 'c': 30}

In [9]:
#Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? 
#Write a Python program to achieve this.
my_dict = {'name': 'Alice', 'age': 30}

del_key = my_dict.pop('age')
del_key

30

In [10]:
my_dict

{'name': 'Alice'}

In [11]:
#Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.
my_dict = {'x': 10, 'y': 20}

if len(my_dict) == 0:
    print('my_dict is empty')
else:
    print('my_dict is not empty')

my_dict is not empty

In [12]:
#OR
my_dict = {'x': 10, 'y': 20}

if my_dict  == {}:
    print("my_dict is empty")

else:
    print('my_dict is not empty')

my_dict is not empty

In [13]:
#Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20}, how can you update it with another dictionary {'c': 30, 'd': 40}? 
# Write a Python program to achieve this.
my_dict = {'a': 10, 'b': 20}

my_dict.update({'c': 30, 'd': 40})
my_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [14]:
#Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? 
# Write a Python program to achieve this.
my_dict = {'apple': 3, 'banana': 5}

max_value = max(my_dict.keys())
max_value

'banana'

In [16]:
#Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs? 
#Write a Python program to achieve this.
my_dict = {'a': 1, 'b': 2, 'c': 3}

reverse = dict(zip(my_dict.values(), my_dict.keys()))
reverse

{1: 'a', 2: 'b', 3: 'c'}

# 20 question on Set Interview Questions

In [19]:
#Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.
my_set = {10, 20, 30, 40, 50}

if 30 in my_set:
    print("30 exits")
else:
    print('not present')

30 exits

In [21]:
# OR For loop
my_set = {10, 20, 30, 40, 50}

for t in my_set:
    if t == 30:
        print('30 present')
        break
else:
    print('not present')

30 present

In [23]:
# set comprehension
my_set = {10, 20, 30, 40, 50}

result = {t for t in my_set if t == 30}

if result:
    print('30 exists')
else:
    print('not present')

30 exists

In [32]:
#Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.
my_set = {1, 2, 3, 4, 5}

my_set.update({6}) # # works also for multiple values
my_set #Update() can add multiple items (from a list, set, tuple, etc.)

{1, 2, 3, 4, 5, 6}

In [29]:
my_set.add(60) #add() inserts a single element into the set.
my_set

{1, 2, 3, 4, 5, 6, 60}

In [35]:
#Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.
my_set = {10, 20, 30, 40, 50}

my_set.remove(30)
my_set

{10, 20, 40, 50}

In [38]:
#Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set_union = set1 | set2
set_union

{1, 2, 3, 4, 5}

In [37]:
#OR --
set_union = set1.union(set2)
set_union

{1, 2, 3, 4, 5}

In [39]:
#Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.
set1 = {10, 20, 30}
set2 = {30, 40, 50}

set_intersection = set1 & set2
set_intersection

{30}

In [40]:
#OR --
set_intersection = set1.intersection(set2)
set_intersection

{30}

In [43]:
#Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2?
#Write a Python program to achieve this. (Difference - )
set1 = {10, 20, 30}
set2 = {30, 40, 50}

difference = set1 - set2
difference

{10, 20}

In [44]:
#Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.
my_set = {1, 2, 3}
my_set.pop()
my_set

{2, 3}

In [45]:
#Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [47]:
#Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

sym_diff = set1.symmetric_difference(set2)
sym_diff

{1, 2, 4, 5}

In [48]:
#OR--
sym_diff = set1 ^ set2
sym_diff

{1, 2, 4, 5}

In [49]:
#Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.
my_set = {10, 20, 30, 40, 50}
len(my_set)

5

In [52]:
#Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python 
#program to explain why.
set1 = {10, 20, 30}
frozen_set2 = frozenset({30, 40, 50})

#we can not modify frozen set becz it is immutable. although set can be modify becz it is mutable.

print(f'original frozen set:', frozen_set2)

# Try modifying (this will cause an error)
try:
    frozen_set2.add(60)
except AttributeError as e:
    print("Error", e)

original frozen set: frozenset({40, 50, 30})
Error 'frozenset' object has no attribute 'add'

In [54]:
#Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.
my_set = {1, 2, 3}

my_set.update({4,5,6})
my_set

{1, 2, 3, 4, 5, 6}

In [58]:
#Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another 
#set { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.
my_set = {'apple', 'banana', 'cherry'}
another_set= { 'apple', 'banana', 'cherry', 'date'}

subset = my_set.issubset(another_set)
subset

True

In [59]:
#OR--
my_set = {'apple', 'banana', 'cherry'}
another_set= { 'apple', 'banana', 'cherry', 'date'}

if my_set.issubset(another_set):
    print("my_set is a subset of another_set")
else:
    print("my_set is not a subset of another_set")

my_set is a subset of another_set

In [60]:
#Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a 
#Python program to achieve this.
set1 = {1, 2, 3, 4}
set2 = {3, 4}

check = set2.issubset(set1)
check

True

In [61]:
#OR--
set1 = {1, 2, 3, 4}
set2 = {3, 4}

if set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is subset of set1

In [62]:
#Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.
set1 = {1, 2, 3, 4, 5}

convert = list(set1)
convert

[1, 2, 3, 4, 5]

In [63]:
#Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write 
#a Python program to achieve this.
my_list = [10, 20, 30, 40, 50, 10, 20]

convert = set(my_list)
convert

{10, 20, 30, 40, 50}

In [64]:
#Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

check = set1.isdisjoint(set2)
check

False

In [65]:
#OR--
set1 = {1, 2, 3}
set2 = {3, 4, 5}

if set1.isdisjoint(set2):
    print("set1 is disjoint of set2")
else:
    print("set1 is not disjoint of set2")

set1 is not disjoint of set2

In [67]:
#Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python 
#program to achieve this.
my_set = {10, 20, 30}

for item in my_set:
    print(item)  #The order may not be the same every time because sets are unordered collections.

10
20
30

In [68]:
#Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.
my_set = {10, 20, 30, 40, 50}

min_value = min(my_set)
max_value = max(my_set)

print(min_value)
print(max_value)

10
50

In [70]:
#Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? 
#Write a Python program to achieve this.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

merge = set1  | set2
merge

{1, 2, 3, 4, 5, 6}

# Tuple Questions given by trainer: 20 question

In [71]:
#1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.
my_tuple = (5, 10, 15, 20, 25)

access_element = my_tuple[2]
access_element

15

In [72]:
#2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a 
#Python program to achieve this.
my_tuple = (100, 200, 300, 400, 500)

my_tuple[-3]

300

In [73]:
#3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python 
#program to achieve this.
my_tuple = (1, 2, 3, (4, 5, 6))
my_tuple[3][2]

6

In [75]:
#4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.
my_tuple = (5, 10, 15, 20, 25)
my_tuple[1:4]

(10, 15, 20)

In [76]:
#5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? 
#Write a Python program to achieve this.
my_tuple = ('Python', 'Java', 'C++', 'JavaScript')

my_tuple[-1]

'JavaScript'

In [77]:
#6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python 
#program to achieve this.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concat = tuple1 + tuple2
concat

(1, 2, 3, 4, 5, 6)

In [79]:
#7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.
my_tuple = ('x', 'y', 'z', 'a')

if 'y' in my_tuple:
    print("y exists")
else:
    print("y does not exists")

y exists

In [81]:
#OR--list comprehension
my_tuple = ('x', 'y', 'z', 'a')

result = [x for x in my_tuple if x == 'y']

if result:
    print("y exists")
else:
    print("y does not exist")

y exists

In [82]:
#OR -- set comprehension
my_tuple = ('x', 'y', 'z', 'a')

result = {x for x in my_tuple if x == 'y'}

if result:
    print("y exists")
else:
    print("y does not exist")

y exists

In [84]:
#8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? 
#Write a Python program to achieve this.
my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')

count = my_tuple.count('apple')
count

3

In [85]:
#9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? 
#Write a Python program to achieve this.
my_tuple = (True, False, True, False)

my_tuple.count('True')

0

In [87]:
#10.Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.
my_tuple = ('Python', 3.8, True, (1, 2, 3))

access = my_tuple[3:]
access

((1, 2, 3),)

In [88]:
#11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.
my_tuple = (10, 20, 30)

convert = list(my_tuple)
convert

[10, 20, 30]

In [89]:
#12.Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.
my_tuple = (7, 14, 21, 28, 35)

smallest = min(my_tuple)
largest = max(my_tuple)

print(smallest)
print(largest)

7
35

In [91]:
#13 Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.
my_tuple = (2, 4, 6, 8, 10)

t = sum(my_tuple)
t

30

In [92]:
#14.Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.
my_tuple = ('a', 'b', 'c', 'd')
my_tuple[::-1]

('d', 'c', 'b', 'a')

In [93]:
#15.Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.
tuple1 = (1, 2, 3) 
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Equal")
else:
    print("Not Equal")

Equal

In [94]:
#OR--
check = tuple1 == tuple2
check

True

In [95]:
#OR --by list comprehension
tuple1 = (1, 2, 3) 
tuple2 = (1, 2, 3)

result = [x for x in (tuple1, tuple2) if tuple1 == tuple2]

if result:
    print("Equal")
else:
    print("Not Equal")

Equal

In [96]:
#16. Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.
my_tuple = (10, 20, 30, 40)

a, b, c, d = my_tuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [98]:
#17. Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.
my_tuple = (3, 6, 9, 12, 15)

convert = " ".join(str(x) for x in my_tuple)

convert

'3 6 9 12 15'

In [99]:
#Alternative: Convert to a comma-separated string
my_tuple = (3, 6, 9, 12, 15)

convert = ",".join(str(x) for x in my_tuple)

convert

'3,6,9,12,15'

In [101]:
#18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.
my_tuple = (1, 2, 3, 4, 5)

for x in my_tuple:
    print("Value:", x)

Value: 1
Value: 2
Value: 3
Value: 4
Value: 5

In [104]:
#19. Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a 
#Python program to achieve this.
my_tuple = (100, 200, 300, 400)

d = {index: value for index, value in enumerate(my_tuple)}
d

{0: 100, 1: 200, 2: 300, 3: 400}

In [106]:
#OR--
d = dict(enumerate(my_tuple))
d

{0: 100, 1: 200, 2: 300, 3: 400}

In [109]:
#20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.
my_tuple = (1, 2, 3, 4, 5)

del my_tuple #hence tuple is immutable, you can not directly del with clear() so use , 'del'

# Lecture : 8: Conditional Statements in python(IF-ELIF-ELSE)

In [1]:
age = int(input("Enter your age: "))

if age>18:
    print("You are eligible for votes")
else:
    print("Yor are not eligible for votes")

Enter your age:  20

You are eligible for votes

In [4]:
#check if number is positive or not
num1 = int(input("Enter 1st your number: "))
num2 =  int(input("Enter 2nd your number: "))
num3 = int(input("Enter 3rd number: "))

if num1 > num2 and num1> num3:
    print("num 1 greater")
elif num2> num3 and num2 > num1:
    print("Num 2 is greater")
else:
    print("num 3  is greater")

Enter 1st your number:  54
Enter 2nd your number:  63
Enter 3rd number:  23

Num 2 is greater

In [6]:
#check driving eligibility
age = int(input("Enter your age: "))
if age >= 18:
    if age > 70:
        print("He can not drive")
    else:
        print("he can drive")
else:
    print("cant drive")

Enter your age:  56

he can drive

In [8]:
#check number is neg or positive(nested if condition)
n = int(input("Enter your number: "))

if n >= 0:
    if n == 0:
        print("number is zero/neutral")
    else:
        print("Number is positive")
else:
    print("Neg")

Enter your number:  -54

Neg

# Simple if statements Questions

In [9]:
#Question 1: Write a Python program that checks if a given number is even. If it is, print "Even number".
given_num = 20

if given_num % 2 == 0:
    print("Number is even")
else:
    print("Number is negative")

Number is even

In [11]:
#Question 2: Write a Python program that checks if a given string contains the letter 'a'. If it does, print "String contains 'a'".
given_str = "anushree"

if given_str == 'a':
    print("given str has 'a' ")
else:
    print("it dont have 'a'")

it dont have 'a'

In [13]:
year = int(input("Enter year: "))

# A leap year is divisible by 4 but not by 100, 
# except if it is also divisible by 400.

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("This is leap year")
else:
    print("Not a leap year")

Enter year:  2025

Not a leap year

In [16]:
#Question 4: Write a Python program that checks if a given number is positive. If it is, print "Positive number".
num = int(input("Enter number: "))

if num > 0:
    print("Positive Number")
else:
    print("Negative Number")

Enter number:  -23

Negative Number

In [18]:
#Question 5: Write a Python program that checks if a given character is a vowel. If it is, print "Vowel".
char = input("Enter a character: ")

char = char.lower()

if char in ('a', 'e', 'i', 'o', 'u'):
    print("vowel")
else:
    print("Not a vowel")

Enter a character:  u

vowel

In [19]:
#check if any word is vowel:
word = input("Enter a word: ").lower()

if any(letter in 'aeiou' for letter in word):
    print("contains vowel")
else:
    print('not contain vowel')

Enter a word:  knowledge

contains vowel

In [20]:
# Check only the first character
first_char = 'Happy'

if first_char[0] in ('a', 'e', 'i', 'o', 'u' ):
    print('first character is vowel')
else:
    print('first character has not vowel')

first character has not vowel

In [21]:
#Question 6: Write a Python program that checks if a given number is greater than 100. If it is, print "Greater than 100".
num = int(input("Enter number: "))

if num > 100:
    print("Greater then 100")
else:
    print("Not greater then 100")

Enter number:  101

Greater then 100

In [23]:
#Question 7: Write a Python program that checks if a given string is empty. If it is, print "Empty string".
str1 = ""

if str1 == "":
    print("String is empty")
else:
    print("non-empty")

String is empty

In [24]:
#Question 8: Write a Python program that checks if a given number is divisible by both 5 and 7. If it is, print "Divisible by 5 and 7".
num = int(input("Enter number: "))

if num % 5 == 0 and num % 7 == 0:
    print("Divisible by 5 and 7")
else:
    print(" Not Divisible by 5 and 7")

Enter number:  25

 Not Divisible by 5 and 7

In [27]:
#Question 9: Write a Python program that checks if a given list contains any negative numbers. If it does, print "List contains negative numbers".
l = [1, 2, -3]

if any(num < 0 for num in l):
    print("List contains negative numbers")
else:
    print("List does not contain negative numbers")

List contains negative numbers

In [28]:
#Question 10: Write a Python program that checks if a given word is a palindrome. If it is, print "Palindrome".
word = 'level'

if word == word[::-1]:
    print("It is palindrom")
else:
    print("It is not palindrom")

It is palindrom

# if-else statements:

In [29]:
# Question 1: Write a Python program that checks if a given number is positive. If it is, print "Positive number"; otherwise, print "Negative number".
n = int(input("Enter number: "))

if n > 0:
    print("Positive Number")
else:
    print('Negative Number')

Enter number:  20

Positive Number

In [30]:
#Question 8: Write a Python program that checks if a given list is empty. If it is, print "Empty list"; otherwise, print "Non-empty list".
list1 = []

if list1 == []:
    print("Empty List")
else:
    print("Not a empty list")

Empty List

In [31]:
#OR--
list1 = []

if not list1:
    print("Empty list")
else:
    print("Non-Empty list")

Empty list

In [33]:
#Question 9: Write a Python program that checks if a given number is greater than, less than, or equal to 50. Print the corresponding message.
n = int(input("Enter number: "))

if n > 50:
    print('The number is greater than 50')
elif n == 50:
    print("The number is equal to 50")
else:
    print("The number is not greater than 50")

Enter number:  52

The number is greater than 50

In [35]:
#Question 10: Write a Python program that checks if a given character is an uppercase letter. If it is, print "Uppercase"; otherwise, print "Lowercase".
c = input("Enter character: ")

if c == c.upper():
    print('Uppercase')
else:
    print('Lowercase')

Enter character:  v

Uppercase

# if-elif-else statements:

In [36]:
#Question 1: Write a Python program that checks if a given number is positive, negative, or zero. Print the corresponding message.
n = int(input("Enter a number: "))

if n > 0:
    print("Number is positive")
elif n == 0:
    print("Number is zero/neutral")
else:
    print("Number is negative")

Enter a number:  0

Number is zero/neutral

In [40]:
#Question 2: Write a Python program that compares two numbers and prints the larger number.
n1 = 20
n2 = 50

if n1 > n2:
    print("n1 is greater number:", n1)
elif n1 == n2:
    print("n1 is equal to n2")
else:
    print("n2 is greater number:", n2)

n2 is greater number: 50

In [41]:
#Question 3: Write a Python program that determines whether a given temperature is hot, warm, or cold. Print the corresponding message.
t = int(input("Enter temp in celcius: "))

if t >= 35:
    print("Temp is hot")
elif t >= 0 and t <35:
    print("Temp is warm")
else:
    print("Temp is cold")

Enter temp in celcius:  23

Temp is warm

In [44]:
#Question 4: Write a Python program that checks if a given year is a leap year, a century year, or neither. Print the corresponding message.
year = int(input("Enter temp: "))

if year % 400 == 0:
    print("Leap Year and century year")
elif year % 100 == 0:
    print("Century year but not a leap year")
elif year % 4 == 0:
    print("Leap year")
else:
    print("Neither leap year nor century year")

Enter temp:  2026

Neither leap year nor century year

In [48]:
#Question 5: Write a Python program that categorizes a given character into uppercase letter, lowercase letter, digit, or special character.
#Print the corresponding message.
char = input("Enter a character: ")

if char.isupper():
    print("Upper case character")
elif char.islower():
    print("Lower case character")
elif char.isdigit():
    print("Digit")
else:
    print("Special character")

Enter a character:  @

Special character

In [51]:
#Question 6: Write a Python program that calculates the discount percentage based on the purchase amount. Print the corresponding discount percentage.
amount = float(input("Enter amount: "))

if amount >= 50000:
    discount = 20
elif amount >= 30000:
    discount = 15
elif amount >= 20000:
    discount = 10
else:
    discount = 0
print(f"Discount percentage:{discount}%")

Enter amount:  40000

Discount percentage:15%

In [55]:
#Question 7: Write a Python program that checks if a given number is divisible by 2, 3, 5, or none of them. Print the corresponding message.
n = int(input("Enter a number: "))

divisible  = False

if n % 2 == 0:
    print("Number is divisible by 2")
    divisible = True
if n % 3 == 0:
    print("Number is divisible by 3")
    divisible = True
if n % 5 == 0:
    print("Number is divisible by 5")
    divisible = True

if not divisible:
    print("Number is not divisible by 2, 3, or 5")

Enter a number:  30

Number is divisible by 2
Number is divisible by 3
Number is divisible by 5

In [57]:
#Question 8: Write a Python program that determines the grade based on the percentage obtained. Print the corresponding grade.
percentage = float(input("Enter percentage"))

if percentage >= 85:
    print("A grade obtained")
elif percentage >=50 and percentage <85:
    print("B grade obtained")
elif percentage >= 30 and percentage < 50:
    print("C grade obtained")
else:
    print("D grade obtained")

Enter percentage 76.3215

B grade obtained

In [59]:
#OR--
percentage = float(input("Enter the percentage: "))

if percentage >= 85:
    print("Grade: A")
elif percentage >= 50:
    print("Grade: B")
elif percentage >= 30:
    print("Grade: C")
else:
    print("Grade: D")

Enter the percentage:  45.36

Grade: C

In [63]:
#Question 9: Write a Python program that checks if a given number is within a specific range. Print the corresponding message.
n = int(input("Enter number: "))

lower = 10
upper = 50

if lower <= n <= upper:
    print(f"{n} is within range from {lower} to {upper}")
else:
    print(f"{n} is not within range from {lower} to {upper}")

Enter number:  23

23 is within range from 10 to 50

In [66]:
#Question 10: Write a Python program that checks if a given string is an English word, a number, or a combination of both. Print the 
#corresponding message.
given_str = input("Enter word: ")

if given_str.isalpha():
    print("It is an english word")
elif given_str.isdigit():
    print("It is number")
elif given_str.isalnum():
    print("Combination of both enlish word and number")
else:
    print('It is a special character')

Enter word:  anu@13

It is a special character

# Nested-if-else statements:

Question 1: Checking Number Properties

Write a Python program that takes an integer as input and checks the following conditions using nested if:

•	If the number is positive, check if it is even or odd.

•	If it is even, check if it is greater than 50.

•	If it is odd, check if it is a multiple of 5.

•	If the number is negative, print "Number is negative."

In [67]:
n = int(input("Enter number: "))

if n > 0:
    print("Number is positive")
    if n % 2 == 0:
        print("Number is even")
        if n > 50:
            print("It is greater than 50")
        else:
            print("The number is 50 or less")
    else:
        print("The number is odd")
        if n % 5 == 0:
            print("It is a multiple of 5")
else:
    print("Number is negative")

Enter number:  56

Number is positive
Number is even
It is greater than 50

Question 2: Student Grade Classification

Write a Python program that takes marks as input and classifies students based on the following criteria:

•	If the marks are 50 or above, print "You have passed."

o	If the marks are 75 or above, print "You got distinction!"

o	Else, print "You passed, but no distinction."

•	If marks are below 50, print "You have failed."

In [2]:
marks = int(input("Enter Marks: "))

if marks >= 50:
    print("You have passed")
    if marks >= 75:
        print("You got distinction")
    else:
        print("You passed but no distinction")
else:
    print("You have failed")

Enter Marks:  51

You have passed
You passed but no distinction

Question 3: Checking Voter Eligibility

Write a Python program that takes the age of a person as input and checks if they are eligible for different activities:
                                                                                     
•	If the age is 18 or above, print "Eligible to vote."
    
o	If the age is 21 or above, print "Eligible to drink alcohol."

o	Else, print "Not eligible to drink alcohol."

•	If the age is below 18, print "Not eligible to vote."

o	If the age is 16 or above, print "Can apply for a learner's driving permit."

In [3]:
age = int(input("Enter age: "))

if age >= 18:
    print("Eligible to vote")
    if age >= 21:
        print("Eligible to drink alcohol")
    else:
        print("Not eligible to drink alcohol")
else:
    print("Not eligible to vote")
    if age >= 16:
        print("Can apply for a learner's driving permit")

Enter age:  18

Eligible to vote
Not eligible to drink alcohol

Question 4: Employee Bonus Calculation

Write a Python program that takes an employee's salary and years of experience as input. The program should:

•	If the experience is 5 years or more, check:

o	If the salary is more than 50,000, give a bonus of 10%.

o	Else, give a bonus of 15%.

•	If the experience is less than 5 years, print "No bonus."

In [5]:
salary = int(input("Enter Salary: "))
exp = int(input("Enter years of experience: "))

if exp >= 5:
    
    if salary > 50000:
        print("Give a bonus of 10%")
    else:
        print("Give a bonus of 15%")
else:
    print('No bonus')

Enter Salary:  550000
Enter years of experience:  5

Give a bonus of 10%

Question 5: Triangle Type Checker

Write a Python program that takes three sides of a triangle as input and determines:

•	If all three sides are equal, print "Equilateral Triangle."

•	If any two sides are equal, print "Isosceles Triangle."

•	If all three sides are different, print "Scalene Triangle."

•	If the sum of any two sides is not greater than the third side, print "Not a valid triangle."

In [8]:
a = int(input("Enter first side: "))
b = int(input("Enter second side: "))
c = int(input("Enter third side: "))

if a + b <= c or a + c <= b or b + c <= a:
    print("Not a valid triangle")
else:
    if a == b == c:
        print("Equilateral Triangle")
    elif a == b or a == c or b == c:
        print('Isosceles Triangle')
    else:
        print("Scalene Triangle")

Enter first side:  5
Enter second side:  9
Enter third side:  4

Not a valid triangle

Question 6: ATM Cash Withdrawal

Write a Python program that asks the user for the amount to withdraw. The program should check:
                                         
•	If the amount is a multiple of 100, proceed further.
                                         
o	If the amount is greater than 5000, print "Daily limit exceeded."
    
o	Else, print "Transaction successful."

•	If the amount is not a multiple of 100, print "Invalid amount. Enter multiples of 100."

In [10]:
amount = int(input("Enter amount: "))

if amount % 100 == 0:
    print("Proceed further")
    if amount > 50000:
        print("Daily limit exceeded")
    else:
        print("Transaction successful")
else:
    print("Invalid amount. Enter multiples of 100")

Enter amount:  2500

Proceed further
Transaction successful

Question 7: Vehicle Speed Checker

Write a Python program that takes the speed of a vehicle as input and prints the following:

•	If speed is below 60 km/h, print "Safe speed."

•	If speed is between 60 and 100 km/h, print "Drive carefully."

•	If speed is above 100 km/h, check:

o	If speed is above 120 km/h, print "Overspeeding! Heavy fine imposed."

o	Else, print "Warning! Reduce your speed."

In [14]:
speed = int(input("Enter speed: "))

if speed < 60:
    print("Safe speed")
elif speed >= 60 and speed <= 100:
        print("Drive carefully")
elif speed > 100:
    if speed > 120:
        print("Overspeeding! Heavy fine imposed")
    else:
        print("Warning! Reduce your speed.")

Enter speed:  123

Overspeeding! Heavy fine imposed

Question 8: Checking Electricity Bill Slabs

Write a Python program that takes the number of electricity units consumed and calculates the bill:

•	If units are less than 100, charge ₹2 per unit.
    
•	If units are between 100 and 300, charge ₹5 per unit.
    
o	If units are more than 200, apply a 10% surcharge.

•	If units are above 300, charge ₹8 per unit with a 20% surcharge

In [17]:
units = int(input("Enter units: "))

if units < 100:
    bill = units * 2
    print(f"Bill amount: ₹{bill}")

elif units >= 100 and units < 300:
    bill = units * 5
    
    if units > 200:
        surcharge = bill * 0.10
        bill = bill + surcharge
        print(f"Bill amount with 10% surcharge: ₹{bill}")

    else:
        print(f"Bill amount: ₹{bill}")
else: #units > 300
    bill = units * 8
    surcharge = bill * 0.20
    bill = bill + surcharge
    print(f"Bill amount with 20% surcharge: ₹{bill}")

Enter units:  253

Bill amount with 10% surcharge: ₹1391.5

Question 9: Mobile Data Plan Recommendation

Write a Python program that asks the user for their monthly internet usage (in GB) and suggests a plan:

•	If usage is less than 2GB, suggest "Basic Plan - ₹199/month."

•	If usage is between 2GB and 10GB, suggest "Standard Plan - ₹499/month."

o	If usage is above 7GB, suggest "Add ₹100 for extra data."

•	If usage is more than 10GB, suggest "Premium Plan - ₹999/month."

In [21]:
usage = int(input("Enter monthly internet usage (in GB): "))

if usage < 2:
    print("Take Basic Plan - ₹199/month")

elif usage >= 2 and usage < 10:
    print("Take Standard Plan - ₹499/month")
    if usage > 7:
        print("Add ₹100 for extra data")
else:  # usage > 10
    print("Take Premium Plan - ₹999/month")

Enter monthly internet usage (in GB):  9

Take Standard Plan - ₹499/month
Add ₹100 for extra data

Question 10: Admission Eligibility for a Course

Write a Python program that takes a student's marks in Mathematics and Science as input and checks:

•	If both subjects have marks above 70, print "Eligible for admission."

o	If both are above 90, print "Eligible for scholarship."

•	If one subject is below 70, print "Eligible for reconsideration."

•	If both are below 70, print "Not eligible for admission."

In [26]:
marks_maths = int(input("Enter maths marks: "))
marks_science = int(input("Enter science marks: "))

if marks_maths > 70 and marks_science > 70:
    print("Eligible for admission")
    if marks_maths > 90 and marks_science > 90:
        print("Eligible for scholarship")
elif marks_maths < 70 and marks_science < 70:
    print("Not eligible for admission")
else: #If both are below 70
    print("Eligible for reconsideration")

Enter maths marks:  40
Enter science marks:  75

Eligible for reconsideration

Question 11: Movie Ticket Pricing Based on Age and Time

Write a Python program that takes the age of a person and the time of the movie (morning/evening) and decides the ticket price:

•	If age is below 12, charge ₹100.
    
o	If it's an evening show, charge ₹150.

•	If age is 12 or above, charge ₹200.
    
o	If it's an evening show, charge ₹300.

In [29]:
age = int(input("Enter age: "))
show_time = input("Enter your time, morning/evening: ").lower()

if age < 12:
    if show_time == "morning":
        print("Charge ₹100")
    elif show_time == "evening":
        print("Charge ₹150")
    else:
        print('Invalid show time')
        print("No Charge")
        
else: #age is 12 or above 12
    if show_time == "morning":
        print("Charge ₹200")
    elif show_time == "evening":
        print("Charge ₹300")
    else:
        print("Invalid show time")
        print('No charge')

Enter age:  15
Enter your time, morning/evening:  evening

Charge ₹300

In [30]:
#OR-- put price in a variable for clean code
age = int(input("Enter age: "))
show_time = input("Enter show time (morning/evening): ").lower()
price = None

if age < 12:
    if show_time == "morning":
        price = 100
    elif show_time == "evening":
        price = 150
elif age >= 12:
    if show_time == "morning":
        price = 200
    elif show_time == "evening":
        price = 300

if price is not None:
    print(f"Ticket price: ₹{price}")
else:
    print("Invalid show time. No charge.")

Enter age:  12
Enter show time (morning/evening):  evening

Ticket price: ₹300

Question 12: Weather-based Clothing Suggestion

Write a Python program that takes the temperature (in °C) as input and suggests clothing:

•	If temperature is below 10°C, suggest "Wear a heavy jacket and gloves."

•	If temperature is between 10°C and 20°C, suggest "Wear a sweater and jeans."

o	If it's also raining, suggest "Carry an umbrella."

•	If temperature is above 20°C, suggest "Wear light clothes."

In [38]:
temp = int(input("Enter temperature (in °C): "))
raining = input("Is it raining? (yes/no): ").lower()
           
if temp < 10:
    print("Wear a heavy jacket and gloves")
elif temp >= 10 and temp <= 20:
    print("Wear a sweater and jeans.")
    if raining == "yes":
        print("Carry an umbrella")
        
else: #temp > 20
        print("Wear light clothes")

Enter temperature (in °C):  14
Is it raining? (yes/no):  yes

Wear a sweater and jeans.
Carry an umbrella

Question 13: Password Strength Checker

Write a Python program that takes a password as input and checks its strength:

•	If the length is less than 6 characters, print "Weak password."

•	If the length is 6 or more, check:

o	If it contains numbers and special characters, print "Strong password."

o	Else, print "Moderate password, add special characters."

In [40]:
password = input("Enter password: ")
special_char = "!@#$%^&*()-_=+[]{}|;:'\",.<>?/"

if len(password) < 6:
    print('Weak Password')
else: #If the length is 6 or more
    has_digit = any(char.isdigit() for char in password)
    has_special = any(char in special_char for char in password)

    if has_digit and has_special:
        print("Strong Password")
    else:
        print("Moderate password, add special character")

Enter password:  anu154

Moderate password, add special character

# Lecture 9: Loop | 24 Nov 2025

# For Loop

In [1]:
my_list = [1, 23, 54, 10]

for i in my_list:
    print('This is my list', i)

This is my list 1
This is my list 23
This is my list 54
This is my list 10

In [3]:
std_data = ['Sagar','Sai','Pranav','Shubham']

print(std_data[0], 'Have pass with distinction')
print(std_data[1], 'Have pass with distinction')
print(std_data[2], 'Have pass with distinction')
print(std_data[3], 'Have pass with distinction')

Sagar Have pass with distinction
Sai Have pass with distinction
Pranav Have pass with distinction
Shubham Have pass with distinction

In [4]:
#OR -- Iterate
for i in std_data:
    print(i, 'Have pass with distinction')

Sagar Have pass with distinction
Sai Have pass with distinction
Pranav Have pass with distinction
Shubham Have pass with distinction

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for i in my_list:
    print(i * 8)

8
16
24
32
40
48
56
64
72
80

In [6]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for i in my_list:
    print('12 X ',i, '=', i*12)

12 X  1 = 12
12 X  2 = 24
12 X  3 = 36
12 X  4 = 48
12 X  5 = 60
12 X  6 = 72
12 X  7 = 84
12 X  8 = 96
12 X  9 = 108
12 X  10 = 120

In [7]:
num = 6 #factorial of 4 becz range is (1, 5) means 1, 2, 3, till 4. and 6*4 = 24

facto = 1

for i in range(1, 5):
    facto = facto * i
print(facto)

24

In [8]:
num = 6 #we want i will iterate till num = 6 so we will put range(1, num+1), num+1= 7 but loop go till 6. this is factorial of 5
facto = 1

for i in range(1, num):
    facto = facto * i
print(facto)

120

In [9]:
num = 6 #we want i will iterate till num = 6 so we will put range(1, num+1), num+1= 7 but loop go till 6.This is factorial of 6.
facto = 1

for i in range(1, num+ 1):
    facto = facto * i
print(facto)

720

# 20 Questions by Trainer- For Loop

In [14]:
#1.	Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.
list1 = [4, 8, 2, 10, 6]

max_num = 0

for num in list1:
    if num > max_num:
        max_num = num
print(max_num)

10

In [17]:
#2.	Take input from the user and find the factorial of the number using a for loop.
n = int(input('Enter number to find factorial: '))

facto = 1

for i in range(1, n+1):
    facto = facto * i
print(facto)

Enter number to find factorial:  5

120

In [20]:
# 4. Take a string input from the user and count the number of uppercase letters using a for loop. (Use char.isupper()) 
str1 = input('Enter string: ').upper()

count = 0

for char in  str1:
    if char.isupper():
        count = count + 1

print('Number of uppercase letter: ', count)

Enter string:  Knowledge is Wisdom

Number of uppercase letter:  17

In [25]:
#5.	Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.
list1 = [17, 25, 39, 42, 58, 71, 86, 93]

sum_even = 0

for i in list1:
    if i % 2 == 0:
        sum_even = sum_even + i

print('Sum of even number is: ', sum_even)

Sum of even number is:  186

In [28]:
#6.	Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.
list1 = [3, 6, 9, 12, 15]

prod = 1

for i in list1:
    prod = prod * i
print('Product of element is: ', prod)

Product of element is:  29160

In [31]:
#7.	Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 using a for loop.
list1 = [2, 3, 5, 7, 11, 13, 17, 19]

for i in range(len(list1)):  #We use range(len(list1)) because we want to loop through indexes, not values.
    if list1[i]== 7:
        print('Index of 7 is:', i)
        break

Index of 7 is: 3

len(list1) → tells how many items are in the list
In this case → 8 items

range(8) → gives numbers from 0 to 7

for i in range(len(list1)):

👉 “Go through the list using index numbers one by one.”

So:

When i = 0 → list1[0] → 2

When i = 1 → list1[1] → 3

When i = 2 → list1[2] → 5

When i = 3 → list1[3] → 7 ← 🔥 FOUND!

In [35]:
#8.	Take a string input from the user and reverse it using a for loop.
str1 = input('Enter string: ')

reverse = ""

for char in str1:
    reverse = char + reverse
    print(reverse)

Enter string:  math

m
am
tam
htam

In [36]:
str1 = input('Enter string: ')

reverse = ""

for char in str1:
    reverse = char + reverse
print(reverse)

Enter string:  math

htam

In [38]:
#10.	Given a list of words ['Python', 'Java', 'C++', 'JavaScript', 'Ruby'], find the longest word using a for loop.
words = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby']

longest = ""

for word in words:
    if len(word) > len(longest):
        longest = word

print('longest word is: ', longest)

longest word is:  JavaScript

In [44]:
#11.Take a string input from the user and count the number of vowels using a for loop. (Vowels: a, e, i, o, u)
str1 = input('Enter string: ')

count_vowel = 0

for char in str1:
    if char.lower() in 'aeiou':
        count_vowel = count_vowel + 1
        
print('number of vowels', count_vowel)

Enter string:  knowledge

number of vowels 3

In [47]:
#12.Given a list of integers [4, 9, 16, 25, 36], print the square root of each number using a for loop.
#Python has a built-in math.sqrt() function to calculate square roots.
import math

int_list = [4, 9, 16, 25, 36]

sq_root = []

for sq in int_list:
    sq_root.append(math.sqrt(sq))

print('Square root of each number is: ', sq_root)

Square root of each number is:  [2.0, 3.0, 4.0, 5.0, 6.0]

In [50]:
#13. Given a list [1, 3, 5, 7, 9, 11], check if a user-inputted number is present in the list using a for loop.
list1 = [1, 3, 5, 7, 9, 11]

user_num = int(input('Enter number: '))

found = False #if number is not found in list1

for num in list1:
    if num == user_num:
        found = True
        
        break # stop loop if number is found
        
if found:
    print('user-inputted number is present', user_num)
else:
    print('user-inputted number is not present', user_num)

Enter number:  11

user-inputted number is present 11

In [57]:
#14.	Given a list [100, 200, 150, 50, 75], find the minimum number using a for loop.
list1 = [100, 200, 150, 50, 75]

min_num = 0

for i in list1:
    if i < min_num:
        min_num == i
print('min number found:', i)

min number found: 75

In [3]:
#15.Take a sentence as input from the user and count the number of words using a for loop. (Words are separated by spaces.)
user_sen = input("Enter sentence: ")

count = 1 # start with 1 because the first word comes before any space

for char in user_sen:
    if char == " ": #check for spaces
        count = count + 1

print('Count words are: ', count)

Enter sentence:  I love python

Count words are:  3

In [6]:
#16. Given a list [20, 40, 60, 80, 100], create a new list with elements divided by 10 using a for loop.
list1 = [20, 40, 60, 80, 100]

new_list = []

for d in list1:
    new_list.append(d/10) #divide each element by 10 and add it to new_list
        

print('new list with elements divided by 10: ', new_list)

new list with elements divided by 10:  [2.0, 4.0, 6.0, 8.0, 10.0]

In [7]:
#17.	Given a list ['red', 'green', 'blue', 'yellow', 'purple'], print only the words that have more than 4 letters using a for loop.
list1 = ['red', 'green', 'blue', 'yellow', 'purple']

four_letter = []

for char in list1:
    if len(char) > 4:
        print(char)

green
yellow
purple

In [9]:
#18.	Take a number as input from the user and generate a list of its multiplication table up to 10 using a for loop.
num = int(input('Enter number: '))

table = []

for t in range(1, 10+1):
    table.append(num * t)
print(table)

Enter number:  5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
#19.	Given a dictionary {'A': 10, 'B': 20, 'C': 30, 'D': 40}, print all key-value pairs using a for loop.
d = {'A': 10, 'B': 20, 'C': 30, 'D': 40}


for key, value in d.items():
    print(key, ':', value)

A : 10
B : 20
C : 30
D : 40

In [22]:
#20.Given a list of mixed values [1, 'hello', 3.5, 'world', 10, 'Python'], print only the integer values using a for loop.
list1 = [1, 'hello', 3.5, 'world', 10, 'Python']

for item in list1:
    if type(item) == int: #for float value--> type(item) == float:
        print('Intergers are: ', item)

Intergers are:  3.5

In [14]:
numbers = [2, 3, 4, 5, 11, 22, 33, 9, 8, 10]

#sort the list in asc
s = sorted(numbers)

print(s)

[2, 3, 4, 5, 8, 9, 10, 11, 22, 33]

In [18]:
#cube
numbers = [2, 3, 4, 5, 11, 22, 33, 9, 8, 10]

cube_list = []

for c in numbers:
    cube_list.append(c*c*c)
print(cube_list)

[8, 27, 64, 125, 1331, 10648, 35937, 729, 512, 1000]

In [19]:
#dict, (Key= number, value = cube)
numbers = [2, 3, 4, 5, 11, 22, 33, 9, 8, 10]

d = dict(zip(numbers, cube_list))
print(d)

{2: 8, 3: 27, 4: 64, 5: 125, 11: 1331, 22: 10648, 33: 35937, 9: 729, 8: 512, 10: 1000}

# Lecture 9: Questions on loop | 25 nov 2025

In [23]:
#on given list of numbers, write squares of numbers using for loop:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

sq = []

for i in list_of_numbers:
    sq.append(i ** 2)
print(sq)

[1, 4, 16, 36, 121, 196, 289, 400]

In [24]:
#OR --
for num in list_of_numbers:
    print(num, '=', num**2)

1 = 1
2 = 4
4 = 16
6 = 36
11 = 121
14 = 196
17 = 289
20 = 400

In [26]:
#write key-value pairs using zip and dict for list_of_numbers and sq of numbers
d = dict(zip(list_of_numbers, sq))
d

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [31]:
#extract the first and last element of given tuple using for loop
t= ('abhi','sagar','sai','shubham')

l = []

for fl in t:
    l.append(fl[0]+ fl[-1])
    
print(l)

['ai', 'sr', 'si', 'sm']

In [33]:
#add '@arbor.com' in the last name
t= ('abhi','sagar','sai','shubham')

for add in t:
    print(add + '@arbor.com')

abhi@arbor.com
sagar@arbor.com
sai@arbor.com
shubham@arbor.com

In [36]:
#find max number in list
numbers = [12, 40, 20, 5, 3, 9, 74, 100, 25, 1031]

max = 0

for num in numbers:
    if max < num:
        max = num

print('The maximum numbers are: ', max)

The maximum numbers are:  1031

In [39]:
#add these elements in the given list using for loop:
numbers = [1,2,3,4,5]

add = 0

for i in numbers:
    add = add + i
print('The addition of numbers are: ', add)

The addition of numbers are:  15

In [41]:
#multiply these elements in the given list using for loop:
numbers = [1,2,3,4,5]

multi = 1

for i in numbers:
    multi = multi * i
print('The nultiplication of numbers are: ', multi)

The nultiplication of numbers are:  120

In [42]:
##print the numbers from 50 to 60
for i in range(50, 60+1):
    print(i, end =  ' ')

50 51 52 53 54 55 56 57 58 59 60

# enumerate()

#enumarate()
enumerate() helps by giving BOTH:

The index (position)

The value

In [43]:
#without enumerate()
fruits = ['apple', 'banana', 'cherry']

for item in  fruits:
    print(item)

apple
banana
cherry

In [44]:
#with enumerate()
enumerate(fruits)

In [46]:
fruits = ['apple', 'banana', 'cherry']

for index, i in enumerate(fruits, start= 1):
    print(index, '=', i)

1 = apple
2 = banana
3 = cherry

In [47]:
colors = ['red', 'blue', 'green']

for index, i in enumerate(colors):
    print(index, i)

0 red
1 blue
2 green

In [48]:
#Example 2: Start Index from 1
colors = ['red', 'blue', 'green']

for index, i in enumerate(colors, start = 1):
    print(index, i)

1 red
2 blue
3 green

In [49]:
#Example 3: Looping Through a Sentence
sentence = "hello"

for index, i in enumerate(sentence):
    print(index, i)

0 h
1 e
2 l
3 l
4 o

In [52]:
#Example 4: Using enumerate() to Update(multiply by 2) List Values
numbers = [10, 20, 30]

for index, value in enumerate(numbers):
    numbers[index] = value*2
print(numbers)

[20, 40, 60]

In [53]:
#Example 5: Using Only the Index
items = ["pen", "book", "pencil"]

for index, _ in enumerate(items):
    print('Item numbers: ', index)

Item numbers:  0
Item numbers:  1
Item numbers:  2

In [56]:
#Example 6: Creating a Menu List
menu = ['Pizza', 'Burger', 'Pasta', 'Drinks']

for index, value in enumerate(menu, start= 1):
    print(f"{index}. {item}")

1. cherry
2. cherry
3. cherry
4. cherry

In [58]:
# 4. Counting the number of uppercase letters in a string provided by the user using a for loop
string = input('Enter string: ')

count = 0

for i in string:
    if i.isupper():
        count =  count + 1

print('number of uppercase letters: ',count )

Enter string:  I am great

number of uppercase letters:  1

# 20 For-Loop Interview-Style Questions

In [59]:
#1. Write a Python program that prints all numbers from 1 to 50 that are divisible by 5 using a for loop.
for i in range(1, 50+1):
    if i % 5 == 0:
        print('Numbers are: ', i)

Numbers are:  5
Numbers are:  10
Numbers are:  15
Numbers are:  20
Numbers are:  25
Numbers are:  30
Numbers are:  35
Numbers are:  40
Numbers are:  45
Numbers are:  50

In [65]:
#2. Given a list of employee salaries, increase each salary by 10% and print the updated values using a for loop.
salaries = [30000, 45000, 52000, 61000, 75000]

updated_salaries = []

for value in salaries:
    updated_value = value*(110/100)
    updated_salaries.append(updated_value)
    
print(updated_salaries)

[33000.0, 49500.00000000001, 57200.00000000001, 67100.0, 82500.0]

In [66]:
#3.	Using a for loop, count how many numbers in a list are greater than 50.
numbers = [12, 55, 78, 45, 99, 23, 67]

count = 0

for n in numbers:
    if n > 50:
        count = count + 1

print(count)

4

In [70]:
#4.	Write a for loop that prints only the characters in a string that are digits.
#Example input: "Data123Science456"
string = "Data123Science456"

digits = []

for char in string:
    if char.isdigit(): #isdigit() works only on strings.
        digits.append(char)

print(digits)

['1', '2', '3', '4', '5', '6']

In [73]:
#5.	Using a for loop, calculate the average of a list of numbers.
scores = [78, 82, 90, 67, 88]

total = 0
count = 0

for num in scores:
    total = total + num
    count = count + 1

avg = total/count

print(avg)

81.0

In [74]:
#calculate the sum of given list
scores = [78, 82, 90, 67, 88]

total = 0

for num in scores:
    total = total + num
print(total)

405

In [77]:
#6.	Given a list of names, print only those names that start with the letter 'A' using a for loop.
names = ['Alex', 'Bob', 'Angela', 'Ryan', 'Alice', 'Tom']

letter = []

for a in names:
    if a[0] == 'A':
        letter.append(a)
print(letter)

['Alex', 'Angela', 'Alice']

In [81]:
#7. Write a program to count how many times the letter 'a' appears in a word using a for loop.
word = input('Enter words: ')

count = 0

for letter in word:
    if letter.lower() == 'a':
        count = count + 1

print('The letter "a" appears in given words is : ', count)

Enter words:  mango arbor ago

The letter "a" appears in given words is :  3

In [82]:
#8.	Using a for loop, create a new list that contains only even numbers from another list.
data = [3, 14, 20, 9, 18, 33, 50]

even = []

for e in data:
    if e % 2 == 0:
        even.append(e)

print(f"List of even numbers are: ", even)

List of even numbers are:  [14, 20, 18, 50]

In [83]:
#9.	Write a for loop that prints the square of each even number between 1 and 20.
even_list = []

for i in range(1, 20+1):
    if i % 2 == 0:
        even_list.append(i*2)
print(even_list)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [89]:
#10. Given a list of products and prices, print: "Product: X — Price: Y" for each item using a for loop.
products = ["Mouse", "Keyboard", "Monitor"]
prices = [800, 2000, 12000]

for product, price in zip(products, prices):
    print("Product:", product, "- Price:",price)

Product: Mouse - Price: 800
Product: Keyboard - Price: 2000
Product: Monitor - Price: 12000

In [90]:
#11. Write a program to reverse a list manually using a for loop (without using reverse() or slicing).
list1 = [3, 14, 20, 9, 18, 33, 50]

reversed_list = []

for item in list1:
    reversed_list.insert(0, item)

print(reversed_list)

[50, 33, 18, 9, 20, 14, 3]

In [92]:
#OR --
list1 = [3, 14, 20, 9, 18, 33, 50]

reversed_list = []

for item in range(len(list1)-1, -1, -1):
    reversed_list.append(list1[item])

print(reversed_list)

[50, 33, 18, 9, 20, 14, 3]

In [95]:
# 12.	Using a for loop, count how many elements in a list that are strings.
mixed = [10, 'data', 23.5, 'python', 5, 'AI']

count = 0

for ele in mixed:
    if isinstance(ele, str):
        count =  count + 1
        
print(count)

3

In [99]:
#count digit in list
mixed = [10, 'data', 23.5, 'python', 5, 'AI']

count = 0

for d in mixed:
    if isinstance(d, int):
        count = count + 1

print(count)

2

In [100]:
#count float in list
mixed = [10, 'data', 23.5, 'python', 5, 'AI']

count = 0

for d in mixed:
    if isinstance(d, float):
        count = count + 1

print(count)

1

In [8]:
#13.	Write a loop to replace every value in a list with "Missing" if the value is None.
records = [55, None, 92, None, 70]

for m in range(len(records)):
    if records[m] is None:
        records[m] = 'Missing'

print(records)

[55, 'Missing', 92, 'Missing', 70]

In [9]:
#OR-- List comprehension
records = [55, None, 92, None, 70]

new_value = ['missing' if m is None else m for m in records]
new_value

[55, 'missing', 92, 'missing', 70]

In [22]:
#14.	Write a for loop to check if a list is sorted in ascending order.
#Print "Sorted" or "Not Sorted".

#We use len(list) - 1 because:
#To avoid index out of range when using i + 1.
#We use i + 1 because:
#We need to compare each element with its next element.

In [19]:
list1 = [3, 14, 20, 9, 18, 33, 50]

is_sorted = True

for i in range(len(list1) - 1):
    if list1[i] > list1[i + 1]:
        is_sorted = False
        break

if is_sorted:
    print("Sorted")
else:
    print("Not Sorted")

Not Sorted

In [32]:
#15.	Using a for loop, remove duplicates from a list and store only unique values in a new list.
nums = [1,2,2,3,4,4,5,6,6,7]

new_list= []

for x in nums:
    if x not in new_list:
        new_list.append(x)

print("Unique values are: ", new_list)

Unique values are:  [1, 2, 3, 4, 5, 6, 7]

In [36]:
#16.	Write a for loop to count vowels in multiple words stored in a list and print the count for each word.
words = ["python", "programming", "loop", "analysis"]

vowel = 'aeiou'

for word in words:
    count = 0
    for char in word:
        if char in vowel:
            count = count + 1
    print("Word: ", word, "--> Vowel Count--> ", count)

Word:  python --> Vowel Count-->  1
Word:  programming --> Vowel Count-->  3
Word:  loop --> Vowel Count-->  2
Word:  analysis --> Vowel Count-->  3

In [39]:
#17.	Print the running (cumulative) total for each value in a list using a for loop.
#Example: List → [5, 10, 15]
#Output → 5, 15, 30
List = [5, 10, 15]

cumulative_sum = []
count = 0

for x in List:
    count = count + x # running total
    cumulative_sum.append(count)
print("Running (Cumulative) sum is: ", cumulative_sum)

Running (Cumulative) sum is:  [5, 15, 30]

In [40]:
#OR --
List = [5, 10, 15]

cumulative_sum = []
count = 0

for i in range(len(List)):
    count = count + List[i]
    cumulative_sum.append(count)

print('Running Total is: ', cumulative_sum)

Running Total is:  [5, 15, 30]

In [42]:
#18.	Write a program that prints a multiplication table from 1 to 5 using nested for loops.
for i in range(1, 6): ## Outer loop → rows (1 to 5)
    for j in range(1, 11): # Inner loop → columns (1 to 10)
        print(i ,"X", j, "=", i*j)
    print() # Blank line after each table

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [43]:
#19.	Write a Python program that prints all numbers from 1 to 50 that are divisible by 5 using a for loop.
for i in range(1, 51):
    if i % 5 == 0:
        print('Numbers divisible by 5 are: ', i)

Numbers divisible by 5 are:  5
Numbers divisible by 5 are:  10
Numbers divisible by 5 are:  15
Numbers divisible by 5 are:  20
Numbers divisible by 5 are:  25
Numbers divisible by 5 are:  30
Numbers divisible by 5 are:  35
Numbers divisible by 5 are:  40
Numbers divisible by 5 are:  45
Numbers divisible by 5 are:  50

In [51]:
#20.	Given a list of employee salaries, increase each salary by 10% and print the updated values using a for loop.
salaries = [30000, 45000, 52000, 61000, 75000]

updated_salaries = []


for i in range(len(salaries)):
    new_salary = salaries[i] * (110/100)
    updated_salaries.append(new_salary)
    print('Updated salaries are: ', updated_salaries)

Updated salaries are:  [33000.0]
Updated salaries are:  [33000.0, 49500.00000000001]
Updated salaries are:  [33000.0, 49500.00000000001, 57200.00000000001]
Updated salaries are:  [33000.0, 49500.00000000001, 57200.00000000001, 67100.0]
Updated salaries are:  [33000.0, 49500.00000000001, 57200.00000000001, 67100.0, 82500.0]

In [52]:
salaries = [30000, 45000, 52000, 61000, 75000]

updated_salaries = []


for i in range(len(salaries)):
    new_salary = salaries[i] * (110/100)
    updated_salaries.append(new_salary)
print('Updated salaries are: ', updated_salaries)

Updated salaries are:  [33000.0, 49500.00000000001, 57200.00000000001, 67100.0, 82500.0]

# Lecture 10: Break , Continue and pass statement and Functions (While loop)

while test:
    
    code statements
    
else:
    
    final code statements

In [2]:
x = 0

while x < 10:
    print(x)
    x = x + 2
else:
    print('Thank you')

0
2
4
6
8
Thank you

Break , Continue and pass statement

We can use break continue and pass statements in our loops to add additional functionality for various cases.

Break == discontinue the loop or break the loop.

Continue == breaks the iteration

Pass == does nothing at all.

while test:

    code statement
    
    if test:
    
        break
        
    if test:
    
        continue
        
else:

In [3]:
x = 1

for i in range(1, 10):
    pass

while x <= 10:
    print(x)
    x = x + 1
    if x == 5:
        continue
    print('-----next loop-------')
print('End Loop')

1
-----next loop-------
2
-----next loop-------
3
-----next loop-------
4
5
-----next loop-------
6
-----next loop-------
7
-----next loop-------
8
-----next loop-------
9
-----next loop-------
10
-----next loop-------
End Loop

In [4]:
x = 1 #factorial of 6
num = 6
facto = 1

while x <= num:
    facto = facto * x
    x = x + 1
print(facto)

720

# Functions

In [5]:
def add(num1, num2):
    print('Addition =', num1 + num2)

In [6]:
add(10, 20)

Addition = 30

In [7]:
def factorial(num):
    facto = 1
    for i in range(1, num+1):
        facto = facto*i
    print('Factorial of', num, "=", facto)

In [8]:
factorial(5)

Factorial of 5 = 120

# While loop: ChatGPT Tutorial

In [9]:
count = 1 #Print number from 1 to 5 using while loop

while count <= 5:
    print(count)
    count = count + 1 #this is mandatory to write count = count + 1
#if we not write it, This will repeat forever because count never increases. the loop continues and will not stop.

1
2
3
4
5

In [10]:
#Print the number from 10 to 1 using while loop
count = 10

while count >= 1:
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1

# ✅ while loop with break

In [11]:
i = 1

while i <= 10:
    print(i)
    if i == 5:
        break # stop the loop
    i = i + 1

1
2
3
4
5

# ✅ while loop with continue

In [12]:
i = 1

while i <= 7:
    if i == 5:
        i = i + 1
        continue
    print(i)
    i = i + 1

1
2
3
4
6
7

# Pass (Pass does nothing, its a placeholder)

In [13]:
#pass in a conditional block
x = 10

if x >5:
    pass # I will write something here later
else:
    print('x is small')

while test:

    code statements

    if test:
        break

    if test:
        continue

    if test:
        pass  # do nothing

else:

    code statements  # runs when while condition becomes False (but not after break)

In [14]:
i = 5

while i <= 5:
    if i == 1:
        pass   # do nothing for now


    if i == 3:
        continue

    if i == 4:
        break

    print(i)
    i = i + 1

else:
    print('Loop finished normally')

5
Loop finished normally

# Question on while loop: 5 (By trainer)

In [2]:
#Q1: Write a Python program to print the sum of all even numbers between 1 and 100 using a while loop.
#Output:
#Sum of even numbers = 2550
i = 1
even = 0

while i <= 100:
    if i % 2 == 0:
        even = even + i
    i = i + 1

print('The sum of even numbers are: ', even)

The sum of even numbers are:  2550

In [1]:
i = 1
even = 0

while i <= 100:
    if i % 2 == 0:     # check even number
        even = even + i
    i = i + 1          # increase i

print("Sum of even numbers = ", even)

Sum of even numbers =  2550

In [4]:
#Q2: Write a Python program to reverse a number using a while loop.
#Example:
#Input: 1234
#Output: 4321

i = 4

while i >= 1:
    print('Reverse number are: ', i)
    i = i - 1

Reverse number are:  4
Reverse number are:  3
Reverse number are:  2
Reverse number are:  1

In [5]:
#Q3: Write a Python program to find the sum of digits of a given number using a while loop.
#Example:
#Input: 567
#Output: 18 (5 + 6 + 7 = 18)

num = 567
sum_of_digit = 0

while num > 0:
    digit = num % 10 #gives remainder
    sum_of_digit = sum_of_digit + digit
    num = num // 10 # removes last digit (Float value)

print(sum_of_digit)

18

In [6]:
#Q4: Write a Python program to find the greatest common divisor (GCD) of two numbers using a while loop.
#Example:
#Input: 36, 60
#Output: 12

a = 36
b = 60

while b != 0:
    a, b = b, a % b # Euclidean method
    
print('GCD are: ', a)

GCD are:  12

In [ ]:
#Q5: Write a Python program to calculate the power of a number using a while loop (without using the ** operator).
#Example:
#Input: base = 2, exponent = 4
#Output: 16 (because 2^4 = 16)

# Lecture: 11 : Functions and methods (def)

Functions

Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

So what is a function?

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of the most basic levels of reusing code in Python.

In [1]:
def add(num1, num2, num3=0):
    print('Addition of numbers are: ', num1 + num2 + num3)

In [2]:
add(12, 13, 14)

Addition of numbers are:  39

In [5]:
def multiply(num1, num2, num3):
    print('Multplication of numbers are: ', num1*num2*num3)

multiply(25, 23, 14)

Multplication of numbers are:  8050

In [7]:
# Option 2: If you want to pass the product, change the function
def multiply(result):
    print('Multiplication of numbers are: ', result)
multiply(12*14)

Multiplication of numbers are:  168

In [8]:
multiply(12*14*23)

Multiplication of numbers are:  3864

In [9]:
#write a function to factorial of numbers
def factorial(num):
    answer = 1
    for i in range(1, num+1):
        answer = answer * i
    return answer

In [10]:
factorial(5)

120

In [11]:
factorial(-5)

1

In [12]:
list_of_facto = [1, 2, 3, 4, 5, 10]

for i in list_of_facto:
    print('Factorial of ', i, '=', factorial(i))

Factorial of  1 = 1
Factorial of  2 = 2
Factorial of  3 = 6
Factorial of  4 = 24
Factorial of  5 = 120
Factorial of  10 = 3628800

In [13]:
#use functions and extract first letter of each word
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [14]:
def extract_first_letter(sen):
    l = sen.split(" ")
    l2 = []
    for i in l:
        l2.append(i[0])
    print('First letter extracted are: ', l2)

In [15]:
extract_first_letter(heisenberg_quote)

First letter extracted are:  ['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [16]:
#Take input from user(atleas 10 first name and last name) and put them in sepearte list and then add "@arbor.com" at last
#Eg:Input: abhishek wavhal (user input)
# Input: # 7719988141 (user input)
#output: # abhishek.w7719@arbor.com

email = []

def create_email(full_name, contact):
    s = full_name.split(" ")
    c = str(contact)
    e = s[0] + "." + s[1][0] + c[0:4] + '@arbor.com'
    #condition (if email already created- print('Email is already created'))
    if e in email:
        print('Email is already created')
    else:
        email.append(e)
        print('Your new email id is: ', e)

In [17]:
create_email('abhishek wavhal',7719988141 )

Your new email id is:  abhishek.w7719@arbor.com

In [21]:
create_email('abhishek wavhal',7719988141 ) #check again if email already exists

Email is already created

In [22]:
email #Gives the list of emails

['abhishek.w7719@arbor.com']

# 20 while loop questions from chatgpt

In [10]:
#1. Print numbers from 1 to 10 using a while loop.
num = 1

while num <= 10:
    num = num + 1
    print('The number from 1 to 10 is: ', num)
    
   #this is wrong method, first print and then increase

The number from 1 to 10 is:  2
The number from 1 to 10 is:  3
The number from 1 to 10 is:  4
The number from 1 to 10 is:  5
The number from 1 to 10 is:  6
The number from 1 to 10 is:  7
The number from 1 to 10 is:  8
The number from 1 to 10 is:  9
The number from 1 to 10 is:  10
The number from 1 to 10 is:  11

In [11]:
num = 1

while num <= 10:
    
    print('The number from 1 to 10 is: ', num)
    num = num + 1
    #this is correct method first print and the increase it by 1

The number from 1 to 10 is:  1
The number from 1 to 10 is:  2
The number from 1 to 10 is:  3
The number from 1 to 10 is:  4
The number from 1 to 10 is:  5
The number from 1 to 10 is:  6
The number from 1 to 10 is:  7
The number from 1 to 10 is:  8
The number from 1 to 10 is:  9
The number from 1 to 10 is:  10

In [ ]:
#2. Print all even numbers between 1 and 50 using a while loop.
num = 0


while num <= 50:
    if num % 2 == 0:
        print('Even number from 1 to 50 is: ', num)
    num = num + 1

In [ ]:
num = 1

while num <= 50:
    if num % 2 == 0:
        print("Even number from 1 to 50 is:", num)
    num = num + 1

In [ ]:
#4. Calculate the sum of all numbers from 1 to N using a while loop.
n = int(input('Enter number to sum: '))
num = 1
total = 0

while num <= n:
    total = total + num
    print('Sum of', n , 'number is: ', total)
    num = num + n