# Questions by trainer: Sales Data- Pandas

40 Questions on Sales Data for Pandas
Here are the 40 questions for analyzing the sales dataset using Pandas:

# Basic Data Exploration

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Load the sales data CSV file into a Pandas DataFrame.
df = pd.read_csv('arbor_pandas_sales_data.csv')
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [3]:
#2. Display the first 5 rows of the DataFrame.
df.head()

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08

In [4]:
#3. Show the last 5 rows of the DataFrame.
df.tail()

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [6]:
#4. Get the shape (number of rows and columns) of the dataset.
df.shape

(50, 10)

In [7]:
#5. Display summary statistics of all numerical columns.
df.describe()

,EmployeeID,Age,SalesAmount,Target,CommissionPercentage,TotalEarnings
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1025.50000,39.780000,29381.580000,29492.040000,5.860000,31034.621800
std,14.57738,10.525557,12096.724585,13022.222386,2.432853,12703.757127
min,1001.00000,22.000000,5377.000000,10151.000000,2.000000,5538.310000
25%,1013.25000,31.000000,20736.500000,17249.500000,4.000000,22142.187500
50%,1025.50000,41.000000,29747.000000,28675.000000,6.000000,31686.450000
75%,1037.75000,49.000000,38276.750000,41410.500000,8.000000,40749.962500
max,1050.00000,55.000000,49578.000000,49772.000000,10.000000,52860.600000

In [8]:
#6. Get column names of the dataset.
df.columns

Index(['EmployeeID', 'Name', 'Age', 'Department', 'Region', 'SalesAmount',
       'Target', 'TargetAchieved', 'CommissionPercentage', 'TotalEarnings'],
      dtype='object')

In [9]:
#7. Check for missing values in the dataset.
df.isnull().sum()

EmployeeID              0
Name                    0
Age                     0
Department              0
Region                  0
SalesAmount             0
Target                  0
TargetAchieved          0
CommissionPercentage    0
TotalEarnings           0
dtype: int64

In [10]:
#8. Get the data types of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EmployeeID            50 non-null     int64
 1   Name                  50 non-null     object
 2   Age                   50 non-null     int64
 3   Department            50 non-null     object
 4   Region                50 non-null     object
 5   SalesAmount           50 non-null     int64
 6   Target                50 non-null     int64
 7   TargetAchieved        50 non-null     object
 8   CommissionPercentage  50 non-null     int64
 9   TotalEarnings         50 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 4.0+ KB

In [11]:
#9. Sort the dataset by SalesAmount in descending order.
df.sort_values(by = 'SalesAmount', ascending = False)

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31

In [14]:
#10. Select only EmployeeID, Name, and SalesAmount columns.
df[['EmployeeID', 'Name', 'SalesAmount']]

    EmployeeID         Name  SalesAmount
0         1001   Employee_1        34200
1         1002   Employee_2        32850
2         1003   Employee_3        43267
3         1004   Employee_4        17263
4         1005   Employee_5        37427
5         1006   Employee_6        25853
6         1007   Employee_7         7695
7         1008   Employee_8        47690
8         1009   Employee_9        49578
9         1010  Employee_10        18766
10        1011  Employee_11        26253
11        1012  Employee_12        32197
12        1013  Employee_13         5955
13        1014  Employee_14        30025
14        1015  Employee_15         5377
15        1016  Employee_16        48945
16        1017  Employee_17        40326
17        1018  Employee_18        30349
18        1019  Employee_19        12766
19        1020  Employee_20        28150
20        1021  Employee_21        27366
21        1022  Employee_22         8939
22        1023  Employee_23        41728
23        1024  Employee_24        36688
24        1025  Employee_25        17986
25        1026  Employee_26        21533
26        1027  Employee_27        38560
27        1028  Employee_28        33593
28        1029  Employee_29         7157
29        1030  Employee_30        27787
30        1031  Employee_31        38718
31        1032  Employee_32        34702
32        1033  Employee_33        29469
33        1034  Employee_34        49111
34        1035  Employee_35        39717
35        1036  Employee_36        20471
36        1037  Employee_37        25221
37        1038  Employee_38        25613
38        1039  Employee_39        35710
39        1040  Employee_40        27167
40        1041  Employee_41        44983
41        1042  Employee_42        28905
42        1043  Employee_43        46558
43        1044  Employee_44        11767
44        1045  Employee_45        40454
45        1046  Employee_46        32685
46        1047  Employee_47        37045
47        1048  Employee_48        18960
48        1049  Employee_49        17997
49        1050  Employee_50        27557

# Filtering & Conditional Selection

In [17]:
# 11. Find all employees who achieved their sales target.
df[df['TargetAchieved'] == 'Yes']

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [18]:
#using shape to get exact number
df[df['TargetAchieved'] == 'Yes'].shape

(26, 10)

In [20]:
# 11. Find employees who belong to the "Electronics" department.
df[df['Department'] == 'Electronics']

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08

In [21]:
df[df['Department'] == 'Electronics'].shape

(10, 10)

In [22]:
#13. Find employees who belong to the "West" region and achieved their target.
df[(df['Region'] == 'West') & (df['TargetAchieved'] == 'Yes')]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64

In [23]:
# 14. Filter employees who have a SalesAmount greater than 30,000.
df[df['SalesAmount'] > 30000]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05

In [24]:
#15. Find employees who have a commission percentage greater than 5%.
df[df['CommissionPercentage'] > 5]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80

In [26]:
#16. Find employees who did not achieve their target.
df[df['TargetAchieved'] == 'No']

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70

In [30]:
#17. Find employees who belong to either "Groceries" or "Automobile" department.
df[(df['Department'] == 'Groceries') | (df['Department'] == 'Automobile')]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [32]:
#18. Find employees with TotalEarnings greater than 40,000.
df[df['TotalEarnings'] > 40000]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05

In [33]:
#19. Find employees who are older than 40 years and achieved their target.
df[(df['Age'] > 40) &(df['TargetAchieved'] == 'Yes')]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85

In [34]:
# 20. Select employees whose names contain "10".
df[df['Name'].str.contains('10')]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64

# Aggregation & Grouping

In [39]:
# 21. Find the average sales amount per department.
df.groupby('Department')['SalesAmount'].mean()

Department
Automobile     26610.818182
Clothing       26593.181818
Electronics    32422.300000
Groceries      27139.000000
Home Decor     36027.750000
Name: SalesAmount, dtype: float64

In [42]:
#22. Count the number of employees in each region.
df['Region'].value_counts()

Region
East     16
West     16
North    12
South     6
Name: count, dtype: int64

In [44]:
#23. Find the highest SalesAmount in each department.
df.groupby('Department')['SalesAmount'].max()

Department
Automobile     44983
Clothing       39717
Electronics    49111
Groceries      47690
Home Decor     49578
Name: SalesAmount, dtype: int64

In [45]:
#want it as Data Frame
df.groupby('Department', as_index = False)['SalesAmount'].max()

    Department  SalesAmount
0   Automobile        44983
1     Clothing        39717
2  Electronics        49111
3    Groceries        47690
4   Home Decor        49578

In [46]:
##If you want it sorted by highest price:
df.groupby('Department')['SalesAmount'].max().sort_values(ascending= False)

Department
Home Decor     49578
Electronics    49111
Groceries      47690
Automobile     44983
Clothing       39717
Name: SalesAmount, dtype: int64

In [47]:
#24. Find the lowest SalesAmount in each department.
df.groupby('Department')['SalesAmount'].min()

Department
Automobile      7695
Clothing        5955
Electronics    17263
Groceries       5377
Home Decor     17997
Name: SalesAmount, dtype: int64

In [48]:
#show as data frame
df.groupby('Department', as_index = False)['SalesAmount'].min()

    Department  SalesAmount
0   Automobile         7695
1     Clothing         5955
2  Electronics        17263
3    Groceries         5377
4   Home Decor        17997

In [49]:
###If you want it sorted by lowest price:
df.groupby('Department')['SalesAmount'].min().sort_values(ascending = True)

Department
Groceries       5377
Clothing        5955
Automobile      7695
Electronics    17263
Home Decor     17997
Name: SalesAmount, dtype: int64

In [4]:
#25. Find the employee with the highest total earnings.
df.loc[df['TotalEarnings'].idxmax()]

EmployeeID                     1016
Name                    Employee_16
Age                              22
Department              Electronics
Region                         East
SalesAmount                   48945
Target                        44965
TargetAchieved                  Yes
CommissionPercentage              8
TotalEarnings               52860.6
Name: 15, dtype: object

In [5]:
#OR--
df.sort_values('TotalEarnings', ascending = False).head(1)

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.6

In [7]:
#26. Count the number of employees who achieved and did not achieve their target.
achieved_target = df['TargetAchieved'].value_counts()['Yes']
not_achieved_target = df['TargetAchieved'].value_counts()['No']

print(achieved_target)
print(not_achieved_target)

26
24

In [8]:
#OR--
df['TargetAchieved'].value_counts()

TargetAchieved
Yes    26
No     24
Name: count, dtype: int64

In [9]:
#OR--#If you want it as a DataFrame:
df['TargetAchieved'].value_counts().reset_index(name = 'count')

  TargetAchieved  count
0            Yes     26
1             No     24

In [10]:
#27. Find the average commission percentage per department.
df.groupby('Department')['CommissionPercentage'].mean()

Department
Automobile     5.818182
Clothing       5.909091
Electronics    5.900000
Groceries      5.400000
Home Decor     6.375000
Name: CommissionPercentage, dtype: float64

In [11]:
#Sort by highest average commission:
df.groupby('Department')['CommissionPercentage'].mean().sort_values(ascending = False)

Department
Home Decor     6.375000
Clothing       5.909091
Electronics    5.900000
Automobile     5.818182
Groceries      5.400000
Name: CommissionPercentage, dtype: float64

In [12]:
#Or display as a DataFrame instead of a Series:
df.groupby('Department', as_index = False)['CommissionPercentage'].mean()

    Department  CommissionPercentage
0   Automobile              5.818182
1     Clothing              5.909091
2  Electronics              5.900000
3    Groceries              5.400000
4   Home Decor              6.375000

In [13]:
#28. Find the highest TotalEarnings per region.
df.groupby('Region')['TotalEarnings'].max()

Region
East     52860.60
North    40908.51
South    49120.70
West     50282.64
Name: TotalEarnings, dtype: float64

In [14]:
#Sort regions by highest value:
df.groupby('Region')['TotalEarnings'].max().sort_values(ascending = False)

Region
East     52860.60
West     50282.64
South    49120.70
North    40908.51
Name: TotalEarnings, dtype: float64

In [15]:
#If you want the entire row for each region with the max value:
df.loc[df.groupby('Region')['TotalEarnings'].idxmax()]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64

In [21]:
#29. Find the lowest TotalEarnings per department.
df.groupby('Department')['TotalEarnings'].min().sort_values(ascending = True)

Department
Groceries       5538.31
Clothing        6312.30
Automobile      8464.50
Electronics    17780.89
Home Decor     18896.85
Name: TotalEarnings, dtype: float64

In [19]:
##If you want the entire row for each region with the min value:
df.loc[df.groupby('Department')['TotalEarnings'].idxmax()]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26

In [22]:
##Sort regions by min value:
df.groupby('Department')['TotalEarnings'].min().sort_values(ascending = True)

Department
Groceries       5538.31
Clothing        6312.30
Automobile      8464.50
Electronics    17780.89
Home Decor     18896.85
Name: TotalEarnings, dtype: float64

In [23]:
#30. Count the number of employees per department.
df.groupby('Department')['EmployeeID'].count()

Department
Automobile     11
Clothing       11
Electronics    10
Groceries      10
Home Decor      8
Name: EmployeeID, dtype: int64

In [24]:
#sort values
df.groupby('Department')['EmployeeID'].count().sort_values(ascending = False)

Department
Automobile     11
Clothing       11
Electronics    10
Groceries      10
Home Decor      8
Name: EmployeeID, dtype: int64

In [25]:
#in dataframe
df.groupby('Department', as_index = False)['EmployeeID'].count()

    Department  EmployeeID
0   Automobile          11
1     Clothing          11
2  Electronics          10
3    Groceries          10
4   Home Decor           8

In [26]:
#extract all columns Count the number of employees per department.
df.loc[df.groupby('Department')['EmployeeID'].count()]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68

# Data Transformation

In [28]:
#31. Remove the EmployeeID column from the DataFrame.
df = df.drop('EmployeeID', axis = 1)

In [29]:
#verify
df.head()

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08

In [30]:
#32. Reset the index of the DataFrame.
df.reset_index()

,index,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,0,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,2,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,3,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,4,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,5,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,6,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,7,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,8,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,9,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,10,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,11,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,12,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,13,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,14,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
15,15,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,16,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,17,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,18,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,19,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,20,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,21,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,22,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,23,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,24,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,25,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,26,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,27,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,28,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,29,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,30,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,31,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
32,32,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,33,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,34,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,35,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,36,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,37,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,38,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,39,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,40,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,41,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,42,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,43,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
44,44,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,45,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,46,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,47,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,48,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,49,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [32]:
#33. Replace all employees who did not achieve the target with "Needs Improvement" in the TargetAchieved column.
df['TargetAchieved'] = df['TargetAchieved'].replace('No', 'Needs Improvement')

In [37]:
#verify
df[df['TargetAchieved'] == 'Needs Improvement']

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50
3,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89
5,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12
6,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50
7,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70
10,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71
11,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82
12,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30
13,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25
14,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31
16,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56
18,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94
21,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12
24,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02
25,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97
26,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60
28,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13
29,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22
31,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06
35,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26
37,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30
41,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45
43,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69
45,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70

#replace multiple
df['TargetAchieved'].replace({'No': 'Needs Improvement', 'Yes': 'Very Good'}, inplace = True)

In [38]:
#verify
df['TargetAchieved'].value_counts()

TargetAchieved
Yes                  26
Needs Improvement    24
Name: count, dtype: int64

In [39]:
# 34. Create a new column PerformanceLevel with values: "High" if SalesAmount > 40000, "Medium" if between 20000-40000, else "Low".
df['PerformanceLevel'] = np.where (
    df['SalesAmount'] > 40000, 'High', 
    np.where (df['SalesAmount'] >= 20000, 'Medium', 'Low')
)

In [40]:
df.head()

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel
0,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00,Medium
1,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50,Medium
2,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34,High
3,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89,Low
4,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08,Medium

In [41]:
#verify
df['PerformanceLevel'].value_counts()

PerformanceLevel
Medium    28
Low       12
High      10
Name: count, dtype: int64

In [42]:
#35 Convert Age column to an integer type.
df['Age'] = df['Age'].astype(int)

In [44]:
#verify
df['Age'].dtype

dtype('int32')

In [46]:
#36. Create a new column AboveAverageEarnings, which is "Yes" if TotalEarnings is above the average.
df['AboveAverageEarnings'] = df['TotalEarnings'] > df['TotalEarnings'].mean()

#This will create a column with True/False values.

In [47]:
#verify
df[['AboveAverageEarnings', 'TotalEarnings']].head()

   AboveAverageEarnings  TotalEarnings
0                  True       35910.00
1                  True       35806.50
2                  True       44132.34
3                 False       17780.89
4                  True       38924.08

In [48]:
#or check out
df['AboveAverageEarnings'].value_counts()

AboveAverageEarnings
True     26
False    24
Name: count, dtype: int64

In [49]:
#37. Convert the Department column to a categorical data type.
df['Department'] = df['Department'].astype('category')

In [50]:
#verify
df['Department'].dtype

CategoricalDtype(categories=['Automobile', 'Clothing', 'Electronics', 'Groceries',
                  'Home Decor'],
, ordered=False, categories_dtype=object)

In [52]:
# 38. Find the top 5 employees based on total earnings.
df.sort_values('TotalEarnings', ascending = False).head(5)

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel,AboveAverageEarnings
15,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60,High,True
8,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68,High,True
33,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66,High,True
42,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64,High,True
7,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70,High,True

In [53]:
#39. Find the bottom 5 employees based on total earnings.
df.sort_values('TotalEarnings', ascending = True).head(5)

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel,AboveAverageEarnings
14,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low,False
12,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low,False
28,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low,False
6,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low,False
21,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low,False

In [61]:
##If you want to select only certain columns:
df[['Name', 'Age', 'Department']].sort_values('TotalEarnings', ascending = True).head(5)

KeyError: 'TotalEarnings'

In [62]:
#OR--
df.sort_values('TotalEarnings').head(5)  #ascending = True will be deafult, nahi lagay to bhi chalega

,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel,AboveAverageEarnings
14,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low,False
12,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low,False
28,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low,False
6,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low,False
21,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low,False

In [66]:
#40 Save the modified DataFrame to a new CSV file.
df.to_csv('modified_sales_data_arbor', index = False)

In [69]:
#count the number of unique departments
df['Department'].nunique()

1

In [70]:
#lenght
len(df['Department'])

50

In [71]:
len(df['Department'].value_counts())

1

In [72]:
len(df['Department'].unique())

1