# 20 Questions on Hotel Database Cleaning & Date Operations

# Data Cleaning Questions

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('arbor_hotel_data_pandas.csv')

In [3]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [28]:
#1. How do you fill missing values in the Rating column with the value "Medium"?
df['Rating'].fillna('Medium', inplace = True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4996\2648201156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna('Medium', inplace = True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4996\2648201156.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Medium' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Rating'].fillna('Medium', inplace = True)

In [10]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [5]:
#2.	Replace missing values in the HotelName column with "Guest".
df['HotelName'] = df['HotelName'].fillna('Guest')

In [8]:
#verify-- check missing value after 
df['HotelName'].value_counts()

HotelName
Mountain Inn         26
Royal Stay           21
City Lights Hotel    19
Grand Palace         18
Ocean View           16
Name: count, dtype: int64

‚úÖ Step 1 ‚Äî Check value counts BEFORE filling
df['HotelName'].value_counts(dropna=False)


Using dropna=False lets you SEE the missing values (NaN) clearly.

In [9]:
#OR-- verify
df['HotelName'].isna().sum()  #this Confirm no NaN left

0

2. .isna()

Checks every value in that column.

Returns True if the value is missing (NaN), otherwise False.

Example:

| HotelName         | isna() |
| ----------------- | ------ |
| City Lights Hotel | False  |
| NaN               | True   |
| Ocean View        | False  |

So isna() converts the column into a list of True/False values.

3. .sum()

When you sum boolean values:

True = 1

False = 0

So summing up True values gives the total number of missing values.

In [11]:
#3. Identify and remove any duplicate records from the dataset.
#Step 1 ‚Äî Identify duplicates
df.duplicated().sum()

0

What this does:

df.duplicated() returns True for every row that is a duplicate.

.sum() counts all duplicates.

This tells you how many duplicate rows exist.

In [13]:
#step 2. View the duplicate rows
df[df.duplicated()]

Empty DataFrame
Columns: [HotelID, HotelName, Location, RoomType, Rating, PricePerNight, BookingStatus, CheckInDate]
Index: []

In [15]:
#Step 3 ‚Äî Remove duplicates
df.drop_duplicates(inplace = True)

In [17]:
#Optional: Remove duplicates based on specific columns
#Sometimes duplicates may occur only by HotelName/Location/etc.
df.drop_duplicates(subset = ['HotelName', 'Location'], inplace = True)

In [19]:
#4.	Convert the CheckInDate column to a proper datetime format.
#step 1. Check column dtype:
df['CheckInDate'].dtype

dtype('O')

‚úÖ What dtype('0') means

Normally, df['CheckInDate'].dtype should return something like:

dtype('O') ‚Üí Object (string)

dtype('int64') ‚Üí Integer

dtype('float64') ‚Üí Float

dtype('<M8[ns]') ‚Üí Datetime

dtype('0') is not a valid pandas dtype

This usually happens if:

The column contains mixed types or corrupted data.

The column was misread when importing (e.g., from CSV).

The dataset was manually entered, and pandas couldn‚Äôt infer the type.

In [21]:
#‚úÖ How to fix / investigate
#Step 1 ‚Äî Check the first few values

df['CheckInDate'].head(10)

0     03:16.8
1     03:16.8
2     03:16.8
3     03:16.8
5     03:16.8
6     03:16.8
9     03:16.8
10    03:16.8
12    03:16.8
13    03:16.8
Name: CheckInDate, dtype: object

In [22]:
#Step 2 ‚Äî Check unique values
# This will tell you the patterns in the column.
df['CheckInDate'].unique()

array(['03:16.8'], dtype=object)

In [23]:
#Step 3 ‚Äî Convert to string first (safe step)
#This ensures pandas treats it as string/object before converting to datetime.
df['CheckInDate'] =df['CheckInDate'].astype(str)

‚úÖ 1. Why do we convert to string first?

You wrote:

df['CheckInDate'] = df['CheckInDate'].astype(str)


‚úî Yes ‚Äî this is correct.
We do this because your column had a strange dtype (dtype('0')), meaning pandas could not understand it.

Converting to string ensures:

The entire column has a consistent type

Conversion to datetime becomes safe

Pandas won‚Äôt break or throw weird errors

So YES ‚Äî this step is good.

In [25]:
#Step 4 ‚Äî Convert to datetime
#If the column contains something like 03:16.8 (time), you can convert it with a custom format:
df['CheckInDate'] = pd.to_datetime(df['CheckInDate'], format = '%H:%M:%S', errors = 'coerce')

‚úÖ Meaning of errors='coerce'

In pandas:

pd.to_datetime(column, errors='coerce')


means:

üîπ If the value can be converted ‚Üí convert it
üîπ If the value CANNOT be converted ‚Üí make it NaT (missing datetime)

‚≠ê So errors='coerce' is used for SAFE conversion.

It prevents your program from crashing and instead gives NaT for invalid values.

üìå Summary
‚úî Yes ‚Äî converting to string first is correct
‚úî Yes ‚Äî using errors='coerce' is correct
‚úî Yes ‚Äî getting NaT is correct since the format is invalid
‚úî "errors='coerce'" means: replace invalid parsing with NaT

%H ‚Üí hour

%M ‚Üí minute

%S ‚Üí second

errors='coerce' ‚Üí invalid entries become NaT

In [26]:
#‚úÖ How to verify after conversion
df['CheckInDate'].dtype

dtype('<M8[ns]')

In [27]:
df['CheckInDate'].head()

0   NaT
1   NaT
2   NaT
3   NaT
5   NaT
Name: CheckInDate, dtype: datetime64[ns]

In [31]:
#verify
df.head(10)

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,NaT
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,NaT
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,NaT
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,NaT
5,6,Royal Stay,San Francisco,Deluxe,4.0,100.0,Pending,NaT
6,7,Ocean View,Chicago,Deluxe,NaN,250.0,Cancelled,NaT
9,10,City Lights Hotel,Chicago,Deluxe,3.0,50.0,Cancelled,NaT
10,11,Mountain Inn,New York,Suite,3.0,200.0,Pending,NaT
12,13,City Lights Hotel,San Francisco,Deluxe,5.0,150.0,Confirmed,NaT
13,14,Royal Stay,Chicago,Single,NaN,200.0,Cancelled,NaT

‚úÖ What ‚ÄúNaT‚Äù Means

NaT stands for:

üîπ Not a Time

It is the datetime equivalent of NaN.

NaN = missing numeric value

NaT = missing datetime value

So when pandas tries to convert your CheckInDate column into datetime, but cannot understand your string format, it replaces them with NaT.

1. Your CheckInDate column became NaT because your data has no valid dates

Your original data had values like:

03:16.8


This is NOT a date (YYYY-MM-DD)
This is not even a proper time format for pandas (HH:MM:SS)

So pandas tried to convert it to a datetime but couldn't ‚Üí result is:

NaT = Not a Time (missing datetime)

‚ùì So the question: Is NaT correct here?
‚úî YES ‚Äî NaT is correct because your original data doesn‚Äôt contain real dates.

There is no valid date to convert.

Pandas can only give you a datetime if a real date exists.

So NaT simply means:

‚ÄúThis value cannot be understood as a date or time.‚Äù

And that is the correct behavior.

‚ùì Is NaT beneficial or bad for data cleaning?

‚úî BENEFICIAL

Because:

It clearly marks that your CheckInDate has invalid or missing date values

NaT behaves like NaN ‚Äî you can filter, drop, fill, or analyze it easily

You can now clean or replace it however you want

‚ùì Should you convert the column into a proper datetime?
‚úî Yes, but only if you know the true date format.

Right now, your dataset does NOT contain real dates.

So transforming it to datetime will always give NaT.

In [5]:
#5. Extract the year from the CheckInDate column.
df['CheckInDate'] = df['CheckInDate'].dt.year #this is correct syntax but gives error bcz CheckInDate is not correct Date format.

AttributeError: Can only use .dt accessor with datetimelike values

In your case:

You converted CheckInDate to string

Then tried to convert to datetime ‚Üí all values became NaT

Then (earlier) you may have overwritten the column again

So pandas sees the column as non-datetime, therefore .dt does not work.

‚ö†Ô∏è But there is a bigger issue (important)
üö® Your dataset has NO VALID DATES

All values in CheckInDate are:

NaT


So even if .dt.year worked, the result would be:

NaN / NaT


There is no year to extract.

‚úÖ Correct Answer for Question #5 (Conceptually)
Q: Extract the year from the CheckInDate column
A: This is only possible if the column contains valid datetime values.

The correct code (when valid dates exist) is:

df['Year'] = df['CheckInDate'].dt.year


‚ö†Ô∏è Notice:

We create a new column Year

We do NOT overwrite CheckInDate

| Situation                   | Result             |
| --------------------------- | ------------------ |
| Column is datetime          | `.dt.year` works   |
| Column is string/object     | `.dt` fails        |
| Column is NaT only          | Year = NaN         |
| Overwriting datetime column | Causes `.dt` error |

In [7]:
#to overcome this issue, we have to make fake date column
#Step 1 ‚Äî Convert to string
df['CheckInDate'] = df['CheckInDate'].astype(str)

In [ ]:
#Step 2 ‚Äî Attach a fake date in front
df['CheckInDate'] = '2023-01-01' + df['CheckInDate']

In [14]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-012023-01-01 2023-01-0103:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-012023-01-01 2023-01-0103:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,2023-01-012023-01-01 2023-01-0103:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-012023-01-01 2023-01-0103:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-012023-01-01 2023-01-0103:16.8

Yes ‚Äî you ran this line multiple times, so the fake date kept getting prepended again and again.

In [15]:
#Clean the column (remove repeated fake dates)
#We will extract only the time part (03:16.8) and discard everything else.
df['CheckInDate'] = df['CheckInDate'].astype(str).str[-7:]

Why -7?

"03:16.8" has 7 characters

This safely keeps only the time

In [16]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [17]:
#Add fake date WITH SPACE
df['CheckInDate'] = '2023-01-01 ' + df['CheckInDate']
#Notice the space after 01.

In [18]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,2023-01-01 03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16.8

In [21]:
#Step 3 ‚Äî Convert to datetime safely
df['CheckInDate'] = pd.to_datetime(df['CheckInDate'], errors = 'coerce')
#if any error occured in CheckInDate column, this "errors='coerce'" will fix this
#errors='coerce' ‚Üí invalid entries become NaT

In [22]:
#Step 4 ‚Äî Extract Year
df['Year'] = df['CheckInDate'].dt.year

In [23]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,2023-01-01 03:16:48,2023
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023

In [24]:
#6. Extract the month from the CheckInDate column.
df['Month'] = df['CheckInDate'].dt.month

In [25]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,2023-01-01 03:16:48,2023,1
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1

In [26]:
#7.	Extract the day of the week from the CheckInDate column.
df['WeekDay'] = df['CheckInDate'].dt.day_name()

In [29]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday

In [30]:
#8.	Find all records where the RoomsAvailable column has values greater than 150.
#since RoomsAvailable column is not present in the dataset we have to create a fake RoomsAvailable column
df['RoomsAvailable'] = np.random.randint(50, 300, size=len(df))

#‚úî Why we use len(df)

#Because:

#Each row must have exactly one value

#Otherwise pandas will throw an error

In [36]:
#now Find all records where RoomsAvailable > 150
df[df['RoomsAvailable'] > 150]

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,206
6,7,Ocean View,Chicago,Deluxe,Medium,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,265
7,8,Ocean View,Miami,Single,5.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,177
8,9,Ocean View,Chicago,Single,5.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,170
10,11,Mountain Inn,New York,Suite,3.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,161
11,12,Ocean View,Chicago,Double,5.0,100.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,219
12,13,City Lights Hotel,San Francisco,Deluxe,5.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,205
15,16,Royal Stay,San Francisco,Deluxe,4.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,244
16,17,Mountain Inn,Los Angeles,Deluxe,Medium,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,242
17,18,City Lights Hotel,Chicago,NaN,4.0,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,259
18,19,Grand Palace,New York,NaN,4.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,269
19,20,Mountain Inn,Los Angeles,Suite,Medium,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,258
20,21,Royal Stay,Los Angeles,Double,3.0,250.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,206
21,22,City Lights Hotel,Miami,Suite,5.0,200.0,NaN,2023-01-01 03:16:48,2023,1,Sunday,237
22,23,Mountain Inn,San Francisco,Suite,4.0,250.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,232
23,24,Grand Palace,Chicago,Suite,5.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,223
29,30,Mountain Inn,San Francisco,Single,5.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,228
31,32,Mountain Inn,San Francisco,NaN,Medium,50.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,287
33,34,Grand Palace,San Francisco,Double,5.0,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,240
35,36,City Lights Hotel,Chicago,Single,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,162
37,38,City Lights Hotel,Los Angeles,Deluxe,4.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,217
39,40,Royal Stay,San Francisco,Single,4.0,50.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,267
41,42,Grand Palace,San Francisco,Suite,4.0,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,163
46,47,Royal Stay,Miami,Suite,3.0,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,276
47,48,City Lights Hotel,Chicago,Deluxe,4.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,297
48,49,Royal Stay,Los Angeles,Deluxe,3.0,250.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,170
51,52,Mountain Inn,New York,Single,3.0,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,251
52,53,Mountain Inn,New York,Deluxe,5.0,250.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,232
54,55,Ocean View,Chicago,Single,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,162
55,56,Grand Palace,New York,Double,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,260
56,57,Mountain Inn,Miami,Single,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,186
58,59,Mountain Inn,New York,Double,4.0,250.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,248
62,63,City Lights Hotel,San Francisco,Deluxe,4.0,250.0,NaN,2023-01-01 03:16:48,2023,1,Sunday,157
63,64,Royal Stay,New York,Suite,4.0,50.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,240
64,65,Royal Stay,Chicago,Suite,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,161
67,68,Royal Stay,Chicago,Suite,5.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,200
68,69,Mountain Inn,New York,Suite,4.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,242
70,71,Grand Palace,New York,Deluxe,4.0,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,290
71,72,City Lights Hotel,New York,Suite,5.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,173
73,74,Royal Stay,Miami,Deluxe,4.0,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,251
74,75,City Lights Hotel,Miami,Double,4.0,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,262
75,76,Royal Stay,Los Angeles,Deluxe,Medium,250.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,166
76,77,Grand Palace,Chicago,Single,3.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,184
78,79,Mountain Inn,San Francisco,Deluxe,3.0,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,288
79,80,Mountain Inn,New York,Suite,5.0,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,152
80,81,City Lights Hotel,New York,Single,4.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,213
81,82,Grand Palace,Chicago,Deluxe,5.0,150.0,NaN,2023-01-01 03:16:48,2023,1,Sunday,162
88,89,Mountain Inn,New York,Deluxe,3.0,50.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,190
89,90,Ocean View,Chicago,NaN,3.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,283
91,92,Grand Palace,San Francisco,Suite,5.0,200.0,NaN,2023-01-01 03:16:48,2023,1,Sunday,203
94,95,Grand Palace,Miami,Double,3.0,150.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,222
95,96,Ocean View,Chicago,Deluxe,4.0,200.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,172
96,97,City Lights Hotel,Chicago,Double,4.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,172
98,99,Royal Stay,San Francisco,Double,5.0,250.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,208

In [34]:
#Verify it worked
df['RoomsAvailable'].describe()

count    100.000000
mean     162.930000
std       70.278415
min       50.000000
25%       99.500000
50%      161.500000
75%      224.250000
max      297.000000
Name: RoomsAvailable, dtype: float64

In [37]:
#OR--
df[df['RoomsAvailable'] > 150].shape #shape gives (number of rows, numbr of columns)

(54, 12)

What does this mean?
Value	Meaning
54	54 rows satisfy the condition (RoomsAvailable > 150)
12	The DataFrame has 12 columns

So:

54 hotel records have more than 150 rooms available

In [40]:
#9.	Find the hotels that have a price per night greater than 400.
df[df['PricePerNight']>400]

Empty DataFrame
Columns: [HotelID, HotelName, Location, RoomType, Rating, PricePerNight, BookingStatus, CheckInDate, Year, Month, WeekDay, RoomsAvailable]
Index: []

In [41]:
df['PricePerNight'].value_counts()

PricePerNight
250.0    24
200.0    23
100.0    23
50.0     14
150.0    11
Name: count, dtype: int64

In [45]:
#verify
df[df['PricePerNight']>400].shape #0 rows satisfied the condition >400 price per night

(0, 12)

In [49]:
#10.	Remove hotels that have null values in the Location column.
#verify how many null values are there in location column
df['Location'].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Location, Length: 100, dtype: bool

In [50]:
#verify how many null values are there in location column
df['Location'].describe()

count          100
unique           5
top       New York
freq            25
Name: Location, dtype: object

In [51]:
#verify how many null values are there in location column
df['Location'].value_counts()

Location
New York         25
Miami            23
Chicago          21
San Francisco    17
Los Angeles      14
Name: count, dtype: int64

In [53]:
#verify how many null values are there in location column
df['Location'].shape

(100,)

‚úÖ Meaning:

Location column has 100 rows

The comma means it‚Äôs a 1-dimensional object (Series)

So combining both results:

Check	Result
Total rows	100
Missing values	100

üëâ 100 out of 100 values are NaN

In [56]:
#Case 1: There are NO null values (your case) (check how manu null values)
df['Location'].isna().sum()

100

In [55]:
#well there is not any null values in Location column
#but to remove null value, we use
df['Location'] = df['Location'].dropna(inplace = True)

I am getting üëâ 100 out of 100 values are NaN , this is incorrrect, and this happens becz i used this code letter 
"df['Location'] = df['Location'].dropna(inplace = True)"
üß† Why is this happening?

This usually happens because of earlier incorrect operations, for example:

Assigning a column to the result of dropna(inplace=True)

Overwriting the column accidentally

Running a cleaning command multiple times

Example of the mistake (you did this earlier üëá):

df['Location'] = df['Location'].dropna(inplace=True)

This sets the entire column to None ‚Üí NaN.

In [57]:
#Confirm visually
df['Location'].head()

0    None
1    None
2    None
3    None
4    None
Name: Location, dtype: object

üß™ Why does pandas show None instead of NaN?

Because:

Location column has dtype: object

In object columns:

Missing values may appear as None

Or np.nan

Both are considered null by pandas

In [60]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
0,1,Mountain Inn,None,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,143
1,2,City Lights Hotel,None,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,206
2,3,Ocean View,None,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,144
3,4,City Lights Hotel,None,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,59
4,5,City Lights Hotel,None,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,89

‚≠ê Beginner Rule (VERY IMPORTANT)
‚ùå Never do:
df['col'] = df['col'].dropna(inplace=True)

‚úÖ Always do one of these:
df['col'] = df['col'].fillna(value)
df.dropna(subset=['col'], inplace=True)

‚úÖ Final Summary

isna().sum() = 100 ‚Üí all values missing

.shape = (100,) ‚Üí 100 rows

Column was accidentally overwritten

Best fix: reload data or fill with a value

‚úÖ Important truth (beginner rule)

None ‚âà NaN in pandas when checking missing values

Functions that treat both the same:

.isna()

.isnull()

.fillna()

.dropna()

In [61]:
# the location column is currupted now, so instead of replacind it with 'unknown' placeholder, we have to relaod the csv file again
df = pd.read_csv('arbor_hotel_data_pandas.csv')

In [62]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HotelID        100 non-null    int64
 1   HotelName      100 non-null    object
 2   Location       100 non-null    object
 3   RoomType       93 non-null     object
 4   Rating         91 non-null     float64
 5   PricePerNight  95 non-null     float64
 6   BookingStatus  89 non-null     object
 7   CheckInDate    100 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 6.4+ KB


üõ°Ô∏è Very important habit to build (BEST PRACTICE)
üîí Always keep a backup copy

Before cleaning:

In [64]:
df_original = df.copy()

In [67]:
#If something breaks:
df = df_original.copy()
#This will save you hours in the future. #this is temporary save file not permanent

‚ùó What NOT to do now

‚ùå Don‚Äôt try to ‚Äúfix‚Äù Location by guessing
‚ùå Don‚Äôt randomly fill important columns
‚ùå Don‚Äôt continue analysis on corrupted data

üß† What you learned (this is valuable!)

You learned:

dropna(inplace=True) is dangerous on a column

None and NaN are both missing

How to detect column destruction

When to restart cleanly (real-world skill!)

This is huge progress, not failure.

üîë Very important concept (MEMORY vs FILE)
üß† In-memory (temporary)
df_original = df.copy()


Exists only while the notebook/kernel is running

If you restart kernel or reload CSV ‚Üí ‚ùå gone

Useful for undo within same session

üíæ On-disk (permanent)
df.to_csv('cleaned_data.csv', index=False)


Saved to disk

Can be reloaded anytime

This is how you preserve your hard work

In [68]:
#Do the data cleaning from scratch:
#1.	How do you fill missing values in the Rating column with the value "Medium"?
df['Rating'] = df['Rating'].fillna('Medium', inplace = True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4996\2938947959.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'] = df['Rating'].fillna('Medium', inplace = True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4996\2938947959.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Medium' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Rating'] = df['Rating'].fillna('Medium', inplace = True)

In [75]:
#verify
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,None,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,None,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,None,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,None,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,None,NaN,Confirmed,03:16.8

ou did not misunderstand pandas ‚Äî you discovered a real and subtle trap üëç
This is one of the most common beginner mistakes, and the confusion is totally justified.

Let‚Äôs fix your mental model once and for all.

‚ùå Why your code breaks the column

You wrote:

df['Rating'] = df['Rating'].fillna('Medium', inplace=True)

üî• What actually happens internally

df['Rating'].fillna(..., inplace=True)
‚Üí modifies the column in place
‚Üí returns None

So Python evaluates this as:

df['Rating'] = None


That‚Äôs why your entire column becomes None.

üß† Key rule (MEMORIZE THIS)

If you use inplace=True, NEVER assign the result to a variable or column.

‚úÖ Correct ways (pick ONE, not both)
‚úî Option 1 (RECOMMENDED, modern & safe)
df['Rating'] = df['Rating'].fillna('Medium')


No inplace

Clear

Future-proof

No column corruption

‚úî Option 2 (old style, still valid)
df['Rating'].fillna('Medium', inplace=True)


Do NOT assign it

Direct modification

‚ùå What NOT to do (again)
df['Rating'] = df['Rating'].fillna('Medium', inplace=True)


This will always break the column.

‚ùì Should you ‚Äúnever use inplace=True‚Äù?
Honest professional answer:

üëâ Yes ‚Äî you can safely avoid inplace=True completely.

Most professionals prefer:

df[col] = df[col].method()


Reasons:

Clear behavior

No silent bugs

Pandas is slowly deprecating inplace=True

Easier to debug

In [76]:
#redo all cleaning correctly
#STEP 0 ‚Äî Load raw data & protect it
import pandas as pd
import numpy as np

df_raw = pd.read_csv('arbor_hotel_data_pandas.csv')
df = df_raw.copy()

In [77]:
#STEP 1 ‚Äî Quick inspection
df.info

<bound method DataFrame.info of     HotelID          HotelName       Location RoomType  Rating  PricePerNight  \
0         1       Mountain Inn          Miami      NaN     5.0          200.0
1         2  City Lights Hotel       New York   Double     3.0          100.0
2         3         Ocean View          Miami   Double     NaN          100.0
3         4  City Lights Hotel    Los Angeles    Suite     3.0          150.0
4         5  City Lights Hotel       New York    Suite     3.0            NaN
..      ...                ...            ...      ...     ...            ...
95       96         Ocean View        Chicago   Deluxe     4.0          200.0
96       97  City Lights Hotel        Chicago   Double     4.0           50.0
97       98         Royal Stay       New York   Double     5.0            NaN
98       99         Royal Stay  San Francisco   Double     5.0          250.0
99      100       Grand Palace          Miami   Double     5.0          150.0

   BookingStatus CheckInDate
0      Cancelled     03:16.8
1      Confirmed     03:16.8
2      Cancelled     03:16.8
3      Confirmed     03:16.8
4      Confirmed     03:16.8
..           ...         ...
95     Confirmed     03:16.8
96     Cancelled     03:16.8
97     Cancelled     03:16.8
98     Confirmed     03:16.8
99     Cancelled     03:16.8

[100 rows x 8 columns]>

In [78]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,NaN,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [79]:
#STEP 2 ‚Äî Clean Rating column
#Fill missing values with "Medium" (as per your question)
df['Rating'] = df['Rating'].fillna('Medium')

‚úî Safe
‚úî No inplace=True
‚úî No corruption

In [80]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,03:16.8
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,03:16.8
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,03:16.8
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,03:16.8
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,03:16.8

In [81]:
#STEP 3 ‚Äî Clean HotelName
#2.	Replace missing values in the CustomerName column with "Guest".
df['HotelName'] = df['HotelName'].fillna('Guest')

In [84]:
#verify
df['HotelName'].value_counts()

HotelName
Mountain Inn         26
Royal Stay           21
City Lights Hotel    19
Grand Palace         18
Ocean View           16
Name: count, dtype: int64

In [85]:
#STEP 4 ‚Äî Remove duplicate rows (if any)
#3.	Identify and remove any duplicate records from the dataset.
df = df.drop_duplicates()

In [86]:
#verify
df.duplicated().sum()

0

In [87]:
#STEP 5 ‚Äî Handle CheckInDate (add fake date for practice)
#4.	Convert the CheckInDate column to a proper datetime format.
df['CheckInDate'] = df['CheckInDate'].astype(str) #convert this column to string

In [88]:
df['CheckInDate'] = pd.to_datetime( '2023-01-01 ' + df['CheckInDate'], errors = 'coerce')

In [89]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48

In [90]:
#STEP 6 ‚Äî Extract date parts
#5.	Extract the year from the CheckInDate column.
df['Year'] = df['CheckInDate'].dt.year

In [91]:
#6.	Extract the month from the CheckInDate column.
df['Month'] = df['CheckInDate'].dt.month

In [92]:
#7.	Extract the day of the week from the CheckInDate column.
df['WeekDay'] = df['CheckInDate'].dt.day_name()

In [93]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday

In [94]:
#8.	Find all records where the RoomsAvailable column has values greater than 150.
#since RoomsAvailable column is not available in dataset , for practice we can create fake column
df['RoomsAvailable'] = np.random.randint(50, 300, len(df))

In [95]:
#STEP 9 ‚Äî Filter rooms > 150 (Question #8)
df[df['RoomsAvailable'] > 150]

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,206
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,281
6,7,Ocean View,Chicago,Deluxe,Medium,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,257
8,9,Ocean View,Chicago,Single,5.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,218
10,11,Mountain Inn,New York,Suite,3.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,255
...,...,...,...,...,...,...,...,...,...,...,...,...
92,93,Ocean View,Miami,Single,3.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,275
93,94,Ocean View,Los Angeles,Single,3.0,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,282
96,97,City Lights Hotel,Chicago,Double,4.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,266
97,98,Royal Stay,New York,Double,5.0,NaN,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,216
99,100,Grand Palace,Miami,Double,5.0,150.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,248

In [97]:
#verify
df['RoomsAvailable'].shape

(100,)

output: (100, ) means 100 rows with 1-dimension in RoomAvailable column

In [99]:
df[df['RoomsAvailable'] > 150].shape #64 rows with value greater than 150 and 12 columns

(64, 12)

In [101]:
#9.	Find the hotels that have a price per night greater than 400.
df[df['PricePerNight'] > 400] #mean no hotel with >40 price per night

Empty DataFrame
Columns: [HotelID, HotelName, Location, RoomType, Rating, PricePerNight, BookingStatus, CheckInDate, Year, Month, WeekDay, RoomsAvailable]
Index: []

In [106]:
df['PricePerNight'].value_counts()

PricePerNight
250.0    24
200.0    23
100.0    23
50.0     14
150.0    11
Name: count, dtype: int64

In [107]:
df[df['PricePerNight']>400].shape

(0, 12)

In [108]:
#before remove hotels that have null value in location column, firstly:
#STEP 10 ‚Äî SAVE your cleaned dataset (VERY IMPORTANT)
df.to_csv('hotel_data_cleaned.csv', index = False)

index=False means:

Do NOT save the DataFrame‚Äôs index as a column in the CSV file

‚ùå If you do NOT use index=False
df.to_csv('hotel_data_cleaned.csv')


Your CSV will look like this:

,index,HotelID,HotelName,Location,...
0,1,Mountain Inn,Miami,...
1,2,City Lights Hotel,New York,...


That extra column (0,1,2,‚Ä¶) is useless and confusing.

In [111]:
#10. Remove hotels that have null values in the Location column.
#Step 1 ‚Äî First, CHECK if nulls exist (always do this)
df['Location'].isna().sum()

0

0 ‚Üí No rows to remove

> 0 ‚Üí Some rows must be removed

In [112]:
#Step 2 ‚Äî Remove rows where Location is null (CORRECT WAY)
df = df.dropna(subset= ['Location'])

‚ùå What NOT to do (important)
df['Location'] = df['Location'].dropna(inplace=True)  # ‚ùå WRONG


This destroys the column (you experienced this already).

| Task                   | Correct Method                    |
| ---------------------- | --------------------------------- |
| Remove rows with nulls | `df.dropna(subset=[...])`         |
| Fill nulls             | `df[col] = df[col].fillna(value)` |
| Check nulls            | `df[col].isna().sum()`            |

# Date-Based Questions

In [117]:
#11.	Find all hotels where the check-in date is in the year 2023.
hotels_2023 = df[df['CheckInDate'].dt.year == 2023]

In [119]:
#Verify it worked'
hotels_2023.shape

(100, 12)

In [120]:
hotels_2023.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,206
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,281
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,61
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,89
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,149

In [118]:
df.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,206
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,281
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,61
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,89
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,149

can you tell me the basic difference: df[df['CheckInDate']].dt.year and df['CheckInDate'].dt.year
Think of df like a table

Rows = hotel records

Columns = HotelName, Location, CheckInDate, etc.

‚úÖ Case 1 (CORRECT)
df['CheckInDate'].dt.year

What this means (VERY SIMPLE):

‚ÄúGo to the CheckInDate column and take the year from each value.‚Äù

Result:

A list (Series) like:

2023
2023
2023
...


‚úî Correct
‚úî Safe
‚úî What you want

‚ùå Case 2 (WRONG)
df[df['CheckInDate']].dt.year

What this actually means to pandas:

‚ÄúUse the values inside CheckInDate as column names and select them from the DataFrame.‚Äù

But your DataFrame columns are named like:

HotelID, HotelName, Location, ...
NOT:

yaml
Copy code
2023-01-01 03:16:48
So pandas gets confused and throws an error.

| Code                | Meaning                                        |
| ------------------- | ---------------------------------------------- |
| `df['CheckInDate']` | Open one column                                |
| `.dt.year`          | Take year from each value                      |
| `df[ something ]`   | Select rows (if boolean) or columns (if names) |

In [126]:
#12.	Find hotels where the check-in date falls on a weekend (Saturday or Sunday).
weekend_hotels = df[df['WeekDay'].isin(['Saturday', 'Sunday'])]

In [127]:
#verify
weekend_hotels.shape

(100, 12)

In [128]:
weekend_hotels.head()

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,206
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,281
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,61
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,89
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,149

#üìå One-line comparison
| Code                            | Result          |
| ------------------------------- | --------------- |
| `df['WeekDay'].isin([...])`     | True/False list |
| `df[df['WeekDay'].isin([...])]` | Filtered rows   |

In [124]:
df['WeekDay'].isin(['Saturday', 'Sunday'])

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: WeekDay, Length: 100, dtype: bool

In [129]:
#13.	Find the total number of check-ins for each month.
df.groupby('Month').size()

Month
1    100
dtype: int64

This means:

100 check-ins happened in January

In [130]:
#Cleaner output (with column name)
df.groupby('Month').size().reset_index(name = 'TotalCheckIns')

   Month  TotalCheckIns
0      1            100

üß† Explanation (VERY SIMPLE)
Step by step:

groupby('Month') ‚Üí group rows by month

.size() ‚Üí count how many rows in each group

Each row = one check-in

In [131]:
#14.	Find the number of hotels checked in per city.
df.groupby('Location').size()

Location
Chicago          21
Los Angeles      14
Miami            23
New York         25
San Francisco    17
dtype: int64

In [132]:
##Cleaner output (with column name)
df.groupby('Location').size().reset_index(name = 'Number_of_hotels')

        Location  Number_of_hotels
0        Chicago                21
1    Los Angeles                14
2          Miami                23
3       New York                25
4  San Francisco                17

In [133]:
#15.	Count the total number of hotels checked in each year.
df.groupby('Year')['HotelID'].count()

Year
2023    100
Name: HotelID, dtype: int64

In [135]:
#OR--
df.groupby('Year').size().reset_index(name = 'Total_hotels')

   Year  Total_hotels
0  2023           100

In [136]:
#16.	Find the highest price per night for each location.
df.groupby('Location')['PricePerNight'].max()

Location
Chicago          250.0
Los Angeles      250.0
Miami            250.0
New York         250.0
San Francisco    250.0
Name: PricePerNight, dtype: float64

In [137]:
#OR--
df.groupby('Location')['PricePerNight'].max().reset_index(name = 'MaxPricePerNight')

        Location  MaxPricePerNight
0        Chicago             250.0
1    Los Angeles             250.0
2          Miami             250.0
3       New York             250.0
4  San Francisco             250.0

In [140]:
#17.	Find the hotel with the most available rooms.
#Step 1 ‚Äî Get the maximum rooms available
df['RoomsAvailable'].max()

296

In [142]:
#Step 2 ‚Äî Get the hotel(s) with that maximum value
df[df['RoomsAvailable'] == df['RoomsAvailable'].max()]

#This returns the full row(s) of the hotel(s) with the most rooms.

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable
28,29,Mountain Inn,San Francisco,Single,3.0,200.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,296
75,76,Royal Stay,Los Angeles,Deluxe,Medium,250.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,296
82,83,City Lights Hotel,New York,Deluxe,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,296

In [143]:
#Show only hotel name and rooms
df.loc[df['RoomsAvailable'].idxmax(), ['HotelName', 'RoomsAvailable']]

HotelName         Mountain Inn
RoomsAvailable             296
Name: 28, dtype: object

| Task                 | Code                           |
| -------------------- | ------------------------------ |
| Find max value       | `df[col].max()`                |
| Find row with max    | `df[df[col] == df[col].max()]` |
| Find single best row | `df.loc[df[col].idxmax()]`     |

In [146]:
#18.	Find the average rating of hotels per city.
#df.groupby('Location')['Rating'].mean()

#this code wont work bcz already the Rating column has numeric +  string data(NaN-- placed with 'Medium') in it. 
#üß† Very important rule (MEMORIZE THIS)

#Mathematical operations (mean, sum, max) require numeric data

df['Rating_numeric'] = df['Rating'].replace('Medium', 3)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4996\372467863.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Rating_numeric'] = df['Rating'].replace('Medium', 3)

In [147]:
#and then find mean
df.groupby('Location')['Rating_numeric'].mean()

Location
Chicago          3.904762
Los Angeles      3.571429
Miami            3.869565
New York         4.000000
San Francisco    4.176471
Name: Rating_numeric, dtype: float64

In [148]:
#19.	Find all hotels where the check-in date is in December.
df[df['CheckInDate'].dt.month == 12]

Empty DataFrame
Columns: [HotelID, HotelName, Location, RoomType, Rating, PricePerNight, BookingStatus, CheckInDate, Year, Month, WeekDay, RoomsAvailable, Rating_numeric]
Index: []

In [149]:
#How to verify this quickly'
df['CheckInDate'].dt.month.value_counts()

CheckInDate
1    100
Name: count, dtype: int64

‚úÖ So what do 1 and 100 mean?
Value	Meaning
1	Month number 1 ‚Üí January
100	There are 100 check-in records in January

So the output means:

All 100 hotel check-ins happened in January.

In [150]:
#want it as dataframe
df['CheckInDate'].dt.month.value_counts().reset_index(name = 'CheckIn_December')

   CheckInDate  CheckIn_December
0            1               100

In [151]:
df['CheckInDate'].dt.month.value_counts().reset_index(
    name='TotalCheckIns'
).rename(columns={'index': 'Month'})

   CheckInDate  TotalCheckIns
0            1            100

In [152]:
#20.	Export the cleaned dataset into a new CSV file.
df.to_csv('modified_hotel_data_set_arbor', index = False)

In [156]:
#relaod it
df_check = pd.read_csv('modified_hotel_data_set_arbor')
df_check.head(10)

,HotelID,HotelName,Location,RoomType,Rating,PricePerNight,BookingStatus,CheckInDate,Year,Month,WeekDay,RoomsAvailable,Rating_numeric
0,1,Mountain Inn,Miami,NaN,5.0,200.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,206,5.0
1,2,City Lights Hotel,New York,Double,3.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,281,3.0
2,3,Ocean View,Miami,Double,Medium,100.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,61,3.0
3,4,City Lights Hotel,Los Angeles,Suite,3.0,150.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,89,3.0
4,5,City Lights Hotel,New York,Suite,3.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,149,3.0
5,6,Royal Stay,San Francisco,Deluxe,4.0,100.0,Pending,2023-01-01 03:16:48,2023,1,Sunday,107,4.0
6,7,Ocean View,Chicago,Deluxe,Medium,250.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,257,3.0
7,8,Ocean View,Miami,Single,5.0,NaN,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,134,5.0
8,9,Ocean View,Chicago,Single,5.0,100.0,Confirmed,2023-01-01 03:16:48,2023,1,Sunday,218,5.0
9,10,City Lights Hotel,Chicago,Deluxe,3.0,50.0,Cancelled,2023-01-01 03:16:48,2023,1,Sunday,135,3.0